// Couleurs de base
$color-dark: #071A31;
$color-base : #094D76;
$color-light: #097BAD;

// Couleurs de texte
$color-text-light: white; 
$color-text-base: #8899AD;

// Valeurs par defaut
$default-margin: 10px;
$default-transition: all 0.5s ease;
$default-font-size: 16px;
$default-title-size: 22px;
$default-border-radius: 2px;