@import "Chart";
@import "Vendor/Stars";
@import "Components/SoldierComponent";
@import "Components/MenuComponent";
@import "Components/PanelComponent";
@import "Components/GridComponent";
@import "Components/ArticleComponent";


// Définition des styles de base
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

body
{
    overflow-x: hidden;
    background-image: url("Assets/Panel.png");
    background-size: cover;
    background-attachment: fixed;


    position: relative;


    white-space: nowrap;
}

a
{
    text-decoration: none;
}

button
{
    background-color: $color-base; 
    border: 1px solid $color-light;
    color: $color-text-light;
    position: relative;

    transition: $default-transition;

    &:hover
    {
        background-color: $color-light;
    }
}