@import "Chart";
@import "Vendor/Stars";
@import "Components/HeaderComponent";
@import "Components/SoldierComponent";
@import "Components/MenuComponent";
@import "Components/PanelComponent";
@import "Components/ArticlesComponent";
@import "Components/ReplaysComponent";
@import "Components/TitleComponent";
@import "Layout/IndexLayout";


// Définition des styles de base
*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

body
{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("Assets/Panel.png");
    background-size: cover;
    background-attachment: fixed;

    min-width: $canvas-min-width;
    min-height: $canvas-min-height;

    position: relative;


    white-space: nowrap;
}

a
{
    text-decoration: none;
}

button
{
                cursor: pointer;

    background-color: $color-base; 
    border: 1px solid $color-light;
    color: $color-text-light;
    position: relative;

    transition: $default-transition;

    &:hover
    {
        background-color: $color-light;
    }
}