// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header
{

    //Dimensions de l'image avatar
    $avatar-width: 249px;
    $avatar-height: 144px;
    //Largeur des boutons du menu
    $button-menu-width: 200px;

    @include stars;

    position: fixed;
    top: 0;
    left: 0;
    width: $HEADER_WIDTH;
    height: 100%;
   
    //background-image: image("Head-Background.png");

    border-right: 1px solid nth($palet, 4);

    box-shadow: 0px 0px 5px nth($palet, 4);

    &::after
    {
        content: " ";

        position: absolute;
        left: 0;
        bottom: 0;
        width: $avatar-width;
        height: $avatar-height;

        background-image: image("Avatar.png");
    }

    #menu
    {

        width: $button-menu-width;
        margin: auto;
        .button-menu
        {
            display: block;
            width: 100%;
            margin-top: 20px;
            
        }
    }

}