/*=======================================
  Définition du composant barre de titre
  =======================================*/
.title-bar
{
    //Hauteur de la barre de titre
    $height: 96px;
    //Hauteur de l'image (144px hauteur originale de l'image)
    $picture-height: 144px;
    //Largeur de l'image (249px largeur originale de l'image)
    $picture-width: 249px;

    @include background-gradient(nth($palet, 3), nth($palet, 2));

    display: block;
    width: 100%;
    height: $height;
    position: relative;
    
    border: 1px solid nth($palet, 4);
    border-left: none;
    border-right: none;


    // Ajout de l'image
    &:before 
    {
        content: "";

        display: block;

        position: absolute;
        bottom: 0;
        left: 0;

        width: $picture-width;
        height: $picture-height;

        background-image: image('Avatar.png');
    }

    // Ajout du nom du site
    &:after 
    {
        content: attr(title);

        display: block;

        position: absolute;
        left: $picture-width + 50px;//50: choix aribitraire
        height: $height;

        line-height: $height;
        vertical-align: middle;

        color: $text-high-color;
        font-size: nth($font-size, 1);
    }

}