@charset "UTF-8";
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 38px 1124px #FFF , 119px 1577px #FFF , 164px 714px #FFF , 114px 932px #FFF , 4px 445px #FFF , 137px 407px #FFF , 98px 120px #FFF , 107px 1564px #FFF , 118px 1808px #FFF , 21px 403px #FFF , 241px 1119px #FFF , 199px 484px #FFF , 31px 1637px #FFF , 11px 1529px #FFF , 136px 960px #FFF , 185px 698px #FFF , 180px 1044px #FFF , 144px 659px #FFF , 161px 65px #FFF , 142px 798px #FFF , 43px 864px #FFF , 12px 8px #FFF , 32px 782px #FFF , 141px 86px #FFF , 162px 1335px #FFF , 37px 1996px #FFF , 46px 1244px #FFF , 10px 1357px #FFF , 239px 760px #FFF , 77px 1546px #FFF , 3px 1235px #FFF , 121px 1051px #FFF , 40px 759px #FFF , 99px 537px #FFF , 87px 70px #FFF , 45px 66px #FFF , 165px 865px #FFF , 88px 1363px #FFF , 139px 997px #FFF , 151px 1133px #FFF , 215px 1472px #FFF , 123px 1582px #FFF , 230px 109px #FFF , 206px 85px #FFF , 234px 1288px #FFF , 32px 1188px #FFF , 203px 1651px #FFF , 158px 236px #FFF , 115px 515px #FFF , 21px 901px #FFF , 226px 1703px #FFF , 163px 103px #FFF , 118px 614px #FFF , 58px 149px #FFF , 9px 1279px #FFF , 94px 719px #FFF , 195px 187px #FFF , 243px 609px #FFF , 120px 496px #FFF , 223px 1446px #FFF , 238px 754px #FFF , 140px 1179px #FFF , 111px 1203px #FFF , 218px 507px #FFF , 87px 1922px #FFF , 236px 721px #FFF , 141px 447px #FFF , 153px 1212px #FFF , 15px 384px #FFF , 78px 471px #FFF , 15px 1791px #FFF , 145px 1770px #FFF , 223px 1704px #FFF , 17px 1546px #FFF , 204px 714px #FFF , 234px 110px #FFF , 207px 870px #FFF , 20px 1741px #FFF , 235px 146px #FFF , 185px 1684px #FFF , 85px 83px #FFF , 76px 361px #FFF , 226px 63px #FFF , 33px 45px #FFF , 221px 612px #FFF , 52px 1454px #FFF , 35px 1844px #FFF , 209px 1063px #FFF , 52px 908px #FFF , 20px 1998px #FFF , 50px 906px #FFF , 195px 946px #FFF , 9px 286px #FFF , 219px 93px #FFF , 60px 353px #FFF , 58px 697px #FFF , 193px 69px #FFF , 249px 352px #FFF , 95px 624px #FFF , 178px 1287px #FFF , 81px 851px #FFF , 92px 22px #FFF , 136px 1840px #FFF , 218px 1943px #FFF , 22px 1657px #FFF , 244px 967px #FFF , 188px 1775px #FFF , 107px 564px #FFF , 96px 1942px #FFF , 45px 509px #FFF , 102px 1392px #FFF , 183px 295px #FFF , 111px 917px #FFF , 142px 981px #FFF , 13px 1802px #FFF , 175px 1638px #FFF , 228px 438px #FFF , 16px 1874px #FFF , 93px 634px #FFF , 124px 1522px #FFF , 85px 819px #FFF , 48px 126px #FFF , 176px 1136px #FFF , 222px 860px #FFF , 231px 67px #FFF , 42px 461px #FFF , 204px 479px #FFF , 201px 1265px #FFF , 20px 1743px #FFF , 80px 119px #FFF , 227px 77px #FFF , 133px 1781px #FFF , 200px 590px #FFF , 71px 1455px #FFF , 46px 999px #FFF , 173px 275px #FFF , 11px 1103px #FFF , 12px 611px #FFF , 128px 358px #FFF , 118px 1595px #FFF , 83px 3px #FFF , 111px 1120px #FFF , 59px 183px #FFF , 232px 1093px #FFF , 154px 1773px #FFF , 20px 335px #FFF , 35px 572px #FFF , 109px 1940px #FFF , 40px 989px #FFF , 168px 420px #FFF , 32px 1707px #FFF , 131px 772px #FFF , 181px 316px #FFF , 6px 480px #FFF , 77px 1258px #FFF , 241px 480px #FFF , 10px 1485px #FFF , 6px 1754px #FFF , 113px 1448px #FFF , 136px 1410px #FFF , 37px 610px #FFF , 191px 1915px #FFF , 59px 1802px #FFF , 182px 1200px #FFF , 90px 531px #FFF , 106px 217px #FFF , 131px 384px #FFF , 48px 3px #FFF , 113px 77px #FFF , 209px 974px #FFF , 106px 1398px #FFF , 169px 3px #FFF , 32px 507px #FFF , 240px 1786px #FFF , 11px 428px #FFF , 212px 625px #FFF , 119px 190px #FFF , 125px 543px #FFF , 197px 625px #FFF , 82px 1539px #FFF , 100px 1419px #FFF , 83px 1499px #FFF , 162px 1261px #FFF , 143px 118px #FFF , 229px 933px #FFF , 121px 1497px #FFF , 6px 96px #FFF , 5px 716px #FFF , 231px 48px #FFF , 140px 403px #FFF , 129px 1059px #FFF , 127px 453px #FFF , 234px 1210px #FFF , 112px 450px #FFF , 61px 1060px #FFF , 122px 1517px #FFF , 2px 199px #FFF , 132px 394px #FFF , 167px 1202px #FFF , 80px 1235px #FFF , 23px 541px #FFF , 144px 146px #FFF , 14px 803px #FFF , 105px 485px #FFF , 81px 1523px #FFF , 94px 601px #FFF , 60px 879px #FFF , 206px 192px #FFF , 247px 1231px #FFF , 34px 1470px #FFF , 26px 1344px #FFF , 102px 286px #FFF , 98px 1561px #FFF , 196px 558px #FFF , 19px 116px #FFF , 191px 1675px #FFF , 29px 318px #FFF , 153px 1542px #FFF , 248px 1009px #FFF , 168px 1854px #FFF , 20px 1383px #FFF , 232px 1613px #FFF , 194px 1336px #FFF , 108px 588px #FFF , 67px 1621px #FFF , 71px 1367px #FFF , 68px 1571px #FFF , 218px 1338px #FFF , 200px 1172px #FFF , 228px 1328px #FFF , 189px 1474px #FFF , 148px 185px #FFF , 131px 619px #FFF , 125px 1468px #FFF , 23px 1741px #FFF , 186px 1046px #FFF , 104px 930px #FFF , 101px 158px #FFF , 196px 1701px #FFF , 18px 533px #FFF , 197px 417px #FFF , 128px 33px #FFF , 164px 1745px #FFF , 40px 688px #FFF , 32px 889px #FFF , 195px 757px #FFF , 62px 857px #FFF , 198px 918px #FFF , 36px 129px #FFF , 38px 264px #FFF , 197px 1981px #FFF , 25px 336px #FFF , 153px 1644px #FFF , 14px 296px #FFF , 120px 1569px #FFF , 15px 647px #FFF , 214px 1802px #FFF , 108px 1005px #FFF , 223px 656px #FFF , 169px 1395px #FFF , 20px 861px #FFF , 172px 999px #FFF , 33px 1195px #FFF , 167px 963px #FFF , 12px 1207px #FFF , 184px 1330px #FFF , 192px 211px #FFF , 30px 1708px #FFF , 23px 1684px #FFF , 248px 462px #FFF , 100px 61px #FFF , 48px 200px #FFF , 214px 290px #FFF , 113px 906px #FFF , 54px 729px #FFF , 107px 864px #FFF , 132px 1408px #FFF , 233px 924px #FFF , 75px 1291px #FFF , 60px 561px #FFF , 164px 943px #FFF , 217px 438px #FFF , 13px 1680px #FFF , 68px 1243px #FFF , 241px 1278px #FFF , 222px 1138px #FFF , 40px 1980px #FFF , 174px 1828px #FFF , 152px 169px #FFF , 17px 1532px #FFF , 37px 1007px #FFF , 227px 582px #FFF , 145px 1529px #FFF , 70px 37px #FFF , 222px 735px #FFF , 193px 787px #FFF , 126px 1408px #FFF , 229px 1396px #FFF , 97px 1187px #FFF , 183px 409px #FFF , 31px 716px #FFF , 157px 1006px #FFF , 186px 873px #FFF , 55px 97px #FFF , 211px 1829px #FFF , 91px 1750px #FFF , 30px 1577px #FFF , 69px 808px #FFF , 98px 1373px #FFF , 171px 1920px #FFF , 119px 964px #FFF , 208px 630px #FFF , 40px 897px #FFF , 197px 1056px #FFF , 29px 566px #FFF , 101px 1097px #FFF , 232px 204px #FFF , 95px 1247px #FFF , 157px 1076px #FFF , 190px 442px #FFF , 249px 1191px #FFF , 220px 439px #FFF , 121px 365px #FFF , 166px 1311px #FFF , 16px 1899px #FFF , 179px 773px #FFF , 61px 130px #FFF , 71px 1913px #FFF , 87px 1349px #FFF , 242px 696px #FFF , 31px 335px #FFF , 159px 724px #FFF , 150px 129px #FFF , 68px 1028px #FFF , 2px 1118px #FFF , 130px 550px #FFF , 186px 969px #FFF , 248px 1768px #FFF , 112px 369px #FFF , 192px 1324px #FFF , 171px 691px #FFF , 141px 911px #FFF , 57px 1775px #FFF , 7px 380px #FFF , 118px 367px #FFF , 11px 640px #FFF , 168px 1004px #FFF , 4px 1232px #FFF , 154px 110px #FFF , 132px 600px #FFF , 13px 749px #FFF , 4px 1822px #FFF , 123px 286px #FFF , 139px 746px #FFF , 34px 242px #FFF , 199px 1306px #FFF , 222px 1642px #FFF , 93px 1509px #FFF , 27px 39px #FFF , 176px 360px #FFF , 127px 896px #FFF , 249px 705px #FFF , 157px 459px #FFF , 132px 1579px #FFF , 170px 1730px #FFF , 208px 688px #FFF , 189px 842px #FFF , 28px 1721px #FFF , 181px 753px #FFF , 43px 359px #FFF , 164px 1781px #FFF , 243px 1919px #FFF , 201px 282px #FFF , 105px 168px #FFF , 152px 1938px #FFF , 53px 513px #FFF , 89px 1345px #FFF , 141px 671px #FFF , 221px 1364px #FFF , 235px 180px #FFF , 33px 155px #FFF , 89px 285px #FFF , 18px 393px #FFF , 117px 367px #FFF , 163px 1385px #FFF , 162px 156px #FFF , 240px 1759px #FFF , 58px 19px #FFF , 100px 519px #FFF , 232px 707px #FFF , 180px 688px #FFF , 199px 1328px #FFF , 35px 955px #FFF , 164px 573px #FFF , 7px 1096px #FFF , 130px 112px #FFF , 63px 1581px #FFF , 218px 1796px #FFF , 250px 350px #FFF , 221px 1773px #FFF , 82px 492px #FFF , 246px 1498px #FFF , 211px 1609px #FFF , 185px 1402px #FFF , 143px 967px #FFF , 17px 1842px #FFF , 190px 775px #FFF , 117px 193px #FFF , 126px 907px #FFF , 213px 1021px #FFF , 167px 223px #FFF , 214px 287px #FFF , 6px 1565px #FFF , 159px 431px #FFF , 76px 1448px #FFF , 116px 1840px #FFF , 216px 1619px #FFF , 232px 1179px #FFF , 39px 1340px #FFF , 159px 1557px #FFF , 57px 849px #FFF , 51px 1606px #FFF , 61px 1304px #FFF , 244px 784px #FFF , 81px 1107px #FFF , 8px 1940px #FFF , 117px 393px #FFF , 140px 539px #FFF , 9px 775px #FFF , 70px 1025px #FFF , 58px 1263px #FFF , 48px 1855px #FFF , 197px 2000px #FFF , 180px 513px #FFF , 169px 823px #FFF , 163px 7px #FFF , 162px 464px #FFF , 38px 428px #FFF , 132px 1225px #FFF , 15px 16px #FFF , 240px 1667px #FFF , 235px 1810px #FFF , 205px 1407px #FFF , 197px 1911px #FFF , 58px 1462px #FFF , 194px 1265px #FFF , 113px 1838px #FFF , 23px 885px #FFF , 27px 755px #FFF , 199px 714px #FFF , 63px 1399px #FFF , 233px 1140px #FFF , 226px 884px #FFF , 113px 104px #FFF , 52px 1410px #FFF , 67px 104px #FFF , 98px 1461px #FFF , 52px 1162px #FFF , 46px 338px #FFF , 198px 333px #FFF , 66px 750px #FFF , 175px 218px #FFF , 152px 366px #FFF , 231px 1244px #FFF , 117px 1924px #FFF , 98px 1517px #FFF , 245px 1561px #FFF , 195px 47px #FFF , 46px 1294px #FFF , 115px 1473px #FFF , 6px 1730px #FFF , 242px 1847px #FFF , 93px 1660px #FFF , 229px 1899px #FFF , 187px 536px #FFF , 191px 772px #FFF , 67px 1262px #FFF , 39px 1363px #FFF , 241px 1453px #FFF , 148px 1858px #FFF , 153px 1193px #FFF , 137px 398px #FFF , 147px 1832px #FFF , 67px 1472px #FFF , 236px 974px #FFF , 23px 1214px #FFF , 112px 164px #FFF , 95px 668px #FFF , 238px 142px #FFF , 236px 1282px #FFF , 154px 1907px #FFF , 64px 1196px #FFF , 115px 774px #FFF , 207px 1915px #FFF , 202px 882px #FFF , 94px 787px #FFF , 129px 1661px #FFF , 3px 1954px #FFF , 25px 1373px #FFF , 203px 331px #FFF , 239px 425px #FFF , 99px 1260px #FFF , 32px 1878px #FFF , 229px 133px #FFF , 111px 558px #FFF , 153px 1100px #FFF , 125px 1528px #FFF , 171px 761px #FFF , 198px 616px #FFF , 173px 439px #FFF , 85px 1898px #FFF , 225px 1698px #FFF , 203px 220px #FFF , 241px 1575px #FFF , 48px 1233px #FFF , 249px 531px #FFF , 103px 130px #FFF , 31px 1862px #FFF , 88px 594px #FFF , 24px 422px #FFF , 89px 827px #FFF , 179px 1645px #FFF , 222px 844px #FFF , 115px 851px #FFF , 148px 1349px #FFF , 36px 924px #FFF , 246px 1955px #FFF , 225px 1802px #FFF , 82px 193px #FFF , 225px 1682px #FFF , 101px 1712px #FFF , 23px 1857px #FFF , 191px 1478px #FFF , 82px 1302px #FFF , 128px 171px #FFF , 123px 678px #FFF , 97px 1870px #FFF , 80px 1234px #FFF , 212px 1100px #FFF , 249px 1620px #FFF , 72px 1783px #FFF , 156px 839px #FFF , 225px 267px #FFF , 207px 1114px #FFF , 105px 1983px #FFF , 39px 1335px #FFF , 90px 1632px #FFF , 45px 316px #FFF , 126px 266px #FFF , 105px 1414px #FFF , 71px 1802px #FFF , 78px 637px #FFF , 41px 1192px #FFF , 235px 904px #FFF , 170px 1542px #FFF , 156px 470px #FFF , 147px 1369px #FFF , 106px 1776px #FFF , 16px 529px #FFF , 208px 908px #FFF , 149px 879px #FFF , 161px 1650px #FFF , 221px 181px #FFF , 205px 1609px #FFF , 49px 678px #FFF , 236px 773px #FFF , 221px 1452px #FFF , 168px 749px #FFF , 136px 1584px #FFF , 183px 1885px #FFF , 149px 921px #FFF , 43px 733px #FFF , 161px 1827px #FFF , 230px 314px #FFF , 214px 494px #FFF , 189px 559px #FFF , 238px 421px #FFF , 194px 949px #FFF , 63px 1854px #FFF , 141px 1607px #FFF , 11px 1875px #FFF , 185px 1581px #FFF , 150px 314px #FFF , 30px 109px #FFF , 87px 962px #FFF , 33px 1305px #FFF , 239px 645px #FFF , 126px 1921px #FFF , 32px 1342px #FFF , 7px 1801px #FFF , 248px 942px #FFF , 117px 1237px #FFF , 138px 246px #FFF , 102px 74px #FFF , 51px 596px #FFF , 247px 1698px #FFF , 143px 937px #FFF , 37px 1821px #FFF , 130px 1696px #FFF , 51px 239px #FFF , 47px 1773px #FFF , 106px 522px #FFF , 146px 853px #FFF , 201px 1978px #FFF , 91px 149px #FFF , 45px 745px #FFF , 220px 623px #FFF , 204px 1061px #FFF , 211px 1182px #FFF , 5px 1281px #FFF , 180px 189px #FFF , 169px 602px #FFF , 45px 765px #FFF , 57px 626px #FFF , 202px 4px #FFF , 27px 1488px #FFF , 160px 1612px #FFF , 246px 1506px #FFF , 84px 1033px #FFF , 27px 1916px #FFF , 216px 317px #FFF , 68px 1588px #FFF , 31px 1736px #FFF , 35px 81px #FFF , 125px 1064px #FFF , 46px 1039px #FFF , 54px 1672px #FFF , 75px 845px #FFF , 131px 1254px #FFF , 99px 733px #FFF , 231px 31px #FFF , 44px 1775px #FFF , 127px 1165px #FFF , 221px 1016px #FFF , 115px 1546px #FFF , 118px 269px #FFF , 3px 310px #FFF , 64px 1354px #FFF , 185px 322px #FFF , 8px 572px #FFF , 194px 913px #FFF , 223px 1446px #FFF , 213px 234px #FFF , 38px 1962px #FFF , 220px 819px #FFF , 141px 268px #FFF , 204px 1351px #FFF , 241px 294px #FFF , 55px 638px #FFF , 222px 966px #FFF , 183px 86px #FFF , 220px 1469px #FFF , 162px 1281px #FFF , 103px 1898px #FFF , 250px 1898px #FFF , 213px 376px #FFF , 78px 904px #FFF , 138px 709px #FFF , 122px 811px #FFF , 139px 238px #FFF , 136px 1719px #FFF , 164px 1711px #FFF , 166px 1908px #FFF , 26px 684px #FFF , 117px 1946px #FFF , 92px 597px #FFF , 24px 1550px #FFF , 250px 1047px #FFF , 87px 1283px #FFF , 161px 1867px #FFF , 60px 850px #FFF , 111px 309px #FFF , 238px 1741px #FFF , 10px 365px #FFF , 98px 258px #FFF , 106px 1095px #FFF , 135px 960px #FFF , 87px 1009px #FFF , 32px 786px #FFF , 157px 853px #FFF , 51px 1919px #FFF , 177px 233px #FFF , 188px 360px #FFF , 25px 416px #FFF , 233px 616px #FFF , 79px 1206px #FFF , 75px 1259px #FFF , 224px 1657px #FFF , 19px 1657px #FFF , 50px 1214px #FFF , 31px 1173px #FFF , 180px 626px #FFF , 126px 1462px #FFF , 71px 739px #FFF , 79px 715px #FFF , 7px 210px #FFF , 88px 468px #FFF , 227px 80px #FFF , 199px 26px #FFF , 129px 1884px #FFF;
  animation: animStar 100s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 38px 1124px #FFF , 119px 1577px #FFF , 164px 714px #FFF , 114px 932px #FFF , 4px 445px #FFF , 137px 407px #FFF , 98px 120px #FFF , 107px 1564px #FFF , 118px 1808px #FFF , 21px 403px #FFF , 241px 1119px #FFF , 199px 484px #FFF , 31px 1637px #FFF , 11px 1529px #FFF , 136px 960px #FFF , 185px 698px #FFF , 180px 1044px #FFF , 144px 659px #FFF , 161px 65px #FFF , 142px 798px #FFF , 43px 864px #FFF , 12px 8px #FFF , 32px 782px #FFF , 141px 86px #FFF , 162px 1335px #FFF , 37px 1996px #FFF , 46px 1244px #FFF , 10px 1357px #FFF , 239px 760px #FFF , 77px 1546px #FFF , 3px 1235px #FFF , 121px 1051px #FFF , 40px 759px #FFF , 99px 537px #FFF , 87px 70px #FFF , 45px 66px #FFF , 165px 865px #FFF , 88px 1363px #FFF , 139px 997px #FFF , 151px 1133px #FFF , 215px 1472px #FFF , 123px 1582px #FFF , 230px 109px #FFF , 206px 85px #FFF , 234px 1288px #FFF , 32px 1188px #FFF , 203px 1651px #FFF , 158px 236px #FFF , 115px 515px #FFF , 21px 901px #FFF , 226px 1703px #FFF , 163px 103px #FFF , 118px 614px #FFF , 58px 149px #FFF , 9px 1279px #FFF , 94px 719px #FFF , 195px 187px #FFF , 243px 609px #FFF , 120px 496px #FFF , 223px 1446px #FFF , 238px 754px #FFF , 140px 1179px #FFF , 111px 1203px #FFF , 218px 507px #FFF , 87px 1922px #FFF , 236px 721px #FFF , 141px 447px #FFF , 153px 1212px #FFF , 15px 384px #FFF , 78px 471px #FFF , 15px 1791px #FFF , 145px 1770px #FFF , 223px 1704px #FFF , 17px 1546px #FFF , 204px 714px #FFF , 234px 110px #FFF , 207px 870px #FFF , 20px 1741px #FFF , 235px 146px #FFF , 185px 1684px #FFF , 85px 83px #FFF , 76px 361px #FFF , 226px 63px #FFF , 33px 45px #FFF , 221px 612px #FFF , 52px 1454px #FFF , 35px 1844px #FFF , 209px 1063px #FFF , 52px 908px #FFF , 20px 1998px #FFF , 50px 906px #FFF , 195px 946px #FFF , 9px 286px #FFF , 219px 93px #FFF , 60px 353px #FFF , 58px 697px #FFF , 193px 69px #FFF , 249px 352px #FFF , 95px 624px #FFF , 178px 1287px #FFF , 81px 851px #FFF , 92px 22px #FFF , 136px 1840px #FFF , 218px 1943px #FFF , 22px 1657px #FFF , 244px 967px #FFF , 188px 1775px #FFF , 107px 564px #FFF , 96px 1942px #FFF , 45px 509px #FFF , 102px 1392px #FFF , 183px 295px #FFF , 111px 917px #FFF , 142px 981px #FFF , 13px 1802px #FFF , 175px 1638px #FFF , 228px 438px #FFF , 16px 1874px #FFF , 93px 634px #FFF , 124px 1522px #FFF , 85px 819px #FFF , 48px 126px #FFF , 176px 1136px #FFF , 222px 860px #FFF , 231px 67px #FFF , 42px 461px #FFF , 204px 479px #FFF , 201px 1265px #FFF , 20px 1743px #FFF , 80px 119px #FFF , 227px 77px #FFF , 133px 1781px #FFF , 200px 590px #FFF , 71px 1455px #FFF , 46px 999px #FFF , 173px 275px #FFF , 11px 1103px #FFF , 12px 611px #FFF , 128px 358px #FFF , 118px 1595px #FFF , 83px 3px #FFF , 111px 1120px #FFF , 59px 183px #FFF , 232px 1093px #FFF , 154px 1773px #FFF , 20px 335px #FFF , 35px 572px #FFF , 109px 1940px #FFF , 40px 989px #FFF , 168px 420px #FFF , 32px 1707px #FFF , 131px 772px #FFF , 181px 316px #FFF , 6px 480px #FFF , 77px 1258px #FFF , 241px 480px #FFF , 10px 1485px #FFF , 6px 1754px #FFF , 113px 1448px #FFF , 136px 1410px #FFF , 37px 610px #FFF , 191px 1915px #FFF , 59px 1802px #FFF , 182px 1200px #FFF , 90px 531px #FFF , 106px 217px #FFF , 131px 384px #FFF , 48px 3px #FFF , 113px 77px #FFF , 209px 974px #FFF , 106px 1398px #FFF , 169px 3px #FFF , 32px 507px #FFF , 240px 1786px #FFF , 11px 428px #FFF , 212px 625px #FFF , 119px 190px #FFF , 125px 543px #FFF , 197px 625px #FFF , 82px 1539px #FFF , 100px 1419px #FFF , 83px 1499px #FFF , 162px 1261px #FFF , 143px 118px #FFF , 229px 933px #FFF , 121px 1497px #FFF , 6px 96px #FFF , 5px 716px #FFF , 231px 48px #FFF , 140px 403px #FFF , 129px 1059px #FFF , 127px 453px #FFF , 234px 1210px #FFF , 112px 450px #FFF , 61px 1060px #FFF , 122px 1517px #FFF , 2px 199px #FFF , 132px 394px #FFF , 167px 1202px #FFF , 80px 1235px #FFF , 23px 541px #FFF , 144px 146px #FFF , 14px 803px #FFF , 105px 485px #FFF , 81px 1523px #FFF , 94px 601px #FFF , 60px 879px #FFF , 206px 192px #FFF , 247px 1231px #FFF , 34px 1470px #FFF , 26px 1344px #FFF , 102px 286px #FFF , 98px 1561px #FFF , 196px 558px #FFF , 19px 116px #FFF , 191px 1675px #FFF , 29px 318px #FFF , 153px 1542px #FFF , 248px 1009px #FFF , 168px 1854px #FFF , 20px 1383px #FFF , 232px 1613px #FFF , 194px 1336px #FFF , 108px 588px #FFF , 67px 1621px #FFF , 71px 1367px #FFF , 68px 1571px #FFF , 218px 1338px #FFF , 200px 1172px #FFF , 228px 1328px #FFF , 189px 1474px #FFF , 148px 185px #FFF , 131px 619px #FFF , 125px 1468px #FFF , 23px 1741px #FFF , 186px 1046px #FFF , 104px 930px #FFF , 101px 158px #FFF , 196px 1701px #FFF , 18px 533px #FFF , 197px 417px #FFF , 128px 33px #FFF , 164px 1745px #FFF , 40px 688px #FFF , 32px 889px #FFF , 195px 757px #FFF , 62px 857px #FFF , 198px 918px #FFF , 36px 129px #FFF , 38px 264px #FFF , 197px 1981px #FFF , 25px 336px #FFF , 153px 1644px #FFF , 14px 296px #FFF , 120px 1569px #FFF , 15px 647px #FFF , 214px 1802px #FFF , 108px 1005px #FFF , 223px 656px #FFF , 169px 1395px #FFF , 20px 861px #FFF , 172px 999px #FFF , 33px 1195px #FFF , 167px 963px #FFF , 12px 1207px #FFF , 184px 1330px #FFF , 192px 211px #FFF , 30px 1708px #FFF , 23px 1684px #FFF , 248px 462px #FFF , 100px 61px #FFF , 48px 200px #FFF , 214px 290px #FFF , 113px 906px #FFF , 54px 729px #FFF , 107px 864px #FFF , 132px 1408px #FFF , 233px 924px #FFF , 75px 1291px #FFF , 60px 561px #FFF , 164px 943px #FFF , 217px 438px #FFF , 13px 1680px #FFF , 68px 1243px #FFF , 241px 1278px #FFF , 222px 1138px #FFF , 40px 1980px #FFF , 174px 1828px #FFF , 152px 169px #FFF , 17px 1532px #FFF , 37px 1007px #FFF , 227px 582px #FFF , 145px 1529px #FFF , 70px 37px #FFF , 222px 735px #FFF , 193px 787px #FFF , 126px 1408px #FFF , 229px 1396px #FFF , 97px 1187px #FFF , 183px 409px #FFF , 31px 716px #FFF , 157px 1006px #FFF , 186px 873px #FFF , 55px 97px #FFF , 211px 1829px #FFF , 91px 1750px #FFF , 30px 1577px #FFF , 69px 808px #FFF , 98px 1373px #FFF , 171px 1920px #FFF , 119px 964px #FFF , 208px 630px #FFF , 40px 897px #FFF , 197px 1056px #FFF , 29px 566px #FFF , 101px 1097px #FFF , 232px 204px #FFF , 95px 1247px #FFF , 157px 1076px #FFF , 190px 442px #FFF , 249px 1191px #FFF , 220px 439px #FFF , 121px 365px #FFF , 166px 1311px #FFF , 16px 1899px #FFF , 179px 773px #FFF , 61px 130px #FFF , 71px 1913px #FFF , 87px 1349px #FFF , 242px 696px #FFF , 31px 335px #FFF , 159px 724px #FFF , 150px 129px #FFF , 68px 1028px #FFF , 2px 1118px #FFF , 130px 550px #FFF , 186px 969px #FFF , 248px 1768px #FFF , 112px 369px #FFF , 192px 1324px #FFF , 171px 691px #FFF , 141px 911px #FFF , 57px 1775px #FFF , 7px 380px #FFF , 118px 367px #FFF , 11px 640px #FFF , 168px 1004px #FFF , 4px 1232px #FFF , 154px 110px #FFF , 132px 600px #FFF , 13px 749px #FFF , 4px 1822px #FFF , 123px 286px #FFF , 139px 746px #FFF , 34px 242px #FFF , 199px 1306px #FFF , 222px 1642px #FFF , 93px 1509px #FFF , 27px 39px #FFF , 176px 360px #FFF , 127px 896px #FFF , 249px 705px #FFF , 157px 459px #FFF , 132px 1579px #FFF , 170px 1730px #FFF , 208px 688px #FFF , 189px 842px #FFF , 28px 1721px #FFF , 181px 753px #FFF , 43px 359px #FFF , 164px 1781px #FFF , 243px 1919px #FFF , 201px 282px #FFF , 105px 168px #FFF , 152px 1938px #FFF , 53px 513px #FFF , 89px 1345px #FFF , 141px 671px #FFF , 221px 1364px #FFF , 235px 180px #FFF , 33px 155px #FFF , 89px 285px #FFF , 18px 393px #FFF , 117px 367px #FFF , 163px 1385px #FFF , 162px 156px #FFF , 240px 1759px #FFF , 58px 19px #FFF , 100px 519px #FFF , 232px 707px #FFF , 180px 688px #FFF , 199px 1328px #FFF , 35px 955px #FFF , 164px 573px #FFF , 7px 1096px #FFF , 130px 112px #FFF , 63px 1581px #FFF , 218px 1796px #FFF , 250px 350px #FFF , 221px 1773px #FFF , 82px 492px #FFF , 246px 1498px #FFF , 211px 1609px #FFF , 185px 1402px #FFF , 143px 967px #FFF , 17px 1842px #FFF , 190px 775px #FFF , 117px 193px #FFF , 126px 907px #FFF , 213px 1021px #FFF , 167px 223px #FFF , 214px 287px #FFF , 6px 1565px #FFF , 159px 431px #FFF , 76px 1448px #FFF , 116px 1840px #FFF , 216px 1619px #FFF , 232px 1179px #FFF , 39px 1340px #FFF , 159px 1557px #FFF , 57px 849px #FFF , 51px 1606px #FFF , 61px 1304px #FFF , 244px 784px #FFF , 81px 1107px #FFF , 8px 1940px #FFF , 117px 393px #FFF , 140px 539px #FFF , 9px 775px #FFF , 70px 1025px #FFF , 58px 1263px #FFF , 48px 1855px #FFF , 197px 2000px #FFF , 180px 513px #FFF , 169px 823px #FFF , 163px 7px #FFF , 162px 464px #FFF , 38px 428px #FFF , 132px 1225px #FFF , 15px 16px #FFF , 240px 1667px #FFF , 235px 1810px #FFF , 205px 1407px #FFF , 197px 1911px #FFF , 58px 1462px #FFF , 194px 1265px #FFF , 113px 1838px #FFF , 23px 885px #FFF , 27px 755px #FFF , 199px 714px #FFF , 63px 1399px #FFF , 233px 1140px #FFF , 226px 884px #FFF , 113px 104px #FFF , 52px 1410px #FFF , 67px 104px #FFF , 98px 1461px #FFF , 52px 1162px #FFF , 46px 338px #FFF , 198px 333px #FFF , 66px 750px #FFF , 175px 218px #FFF , 152px 366px #FFF , 231px 1244px #FFF , 117px 1924px #FFF , 98px 1517px #FFF , 245px 1561px #FFF , 195px 47px #FFF , 46px 1294px #FFF , 115px 1473px #FFF , 6px 1730px #FFF , 242px 1847px #FFF , 93px 1660px #FFF , 229px 1899px #FFF , 187px 536px #FFF , 191px 772px #FFF , 67px 1262px #FFF , 39px 1363px #FFF , 241px 1453px #FFF , 148px 1858px #FFF , 153px 1193px #FFF , 137px 398px #FFF , 147px 1832px #FFF , 67px 1472px #FFF , 236px 974px #FFF , 23px 1214px #FFF , 112px 164px #FFF , 95px 668px #FFF , 238px 142px #FFF , 236px 1282px #FFF , 154px 1907px #FFF , 64px 1196px #FFF , 115px 774px #FFF , 207px 1915px #FFF , 202px 882px #FFF , 94px 787px #FFF , 129px 1661px #FFF , 3px 1954px #FFF , 25px 1373px #FFF , 203px 331px #FFF , 239px 425px #FFF , 99px 1260px #FFF , 32px 1878px #FFF , 229px 133px #FFF , 111px 558px #FFF , 153px 1100px #FFF , 125px 1528px #FFF , 171px 761px #FFF , 198px 616px #FFF , 173px 439px #FFF , 85px 1898px #FFF , 225px 1698px #FFF , 203px 220px #FFF , 241px 1575px #FFF , 48px 1233px #FFF , 249px 531px #FFF , 103px 130px #FFF , 31px 1862px #FFF , 88px 594px #FFF , 24px 422px #FFF , 89px 827px #FFF , 179px 1645px #FFF , 222px 844px #FFF , 115px 851px #FFF , 148px 1349px #FFF , 36px 924px #FFF , 246px 1955px #FFF , 225px 1802px #FFF , 82px 193px #FFF , 225px 1682px #FFF , 101px 1712px #FFF , 23px 1857px #FFF , 191px 1478px #FFF , 82px 1302px #FFF , 128px 171px #FFF , 123px 678px #FFF , 97px 1870px #FFF , 80px 1234px #FFF , 212px 1100px #FFF , 249px 1620px #FFF , 72px 1783px #FFF , 156px 839px #FFF , 225px 267px #FFF , 207px 1114px #FFF , 105px 1983px #FFF , 39px 1335px #FFF , 90px 1632px #FFF , 45px 316px #FFF , 126px 266px #FFF , 105px 1414px #FFF , 71px 1802px #FFF , 78px 637px #FFF , 41px 1192px #FFF , 235px 904px #FFF , 170px 1542px #FFF , 156px 470px #FFF , 147px 1369px #FFF , 106px 1776px #FFF , 16px 529px #FFF , 208px 908px #FFF , 149px 879px #FFF , 161px 1650px #FFF , 221px 181px #FFF , 205px 1609px #FFF , 49px 678px #FFF , 236px 773px #FFF , 221px 1452px #FFF , 168px 749px #FFF , 136px 1584px #FFF , 183px 1885px #FFF , 149px 921px #FFF , 43px 733px #FFF , 161px 1827px #FFF , 230px 314px #FFF , 214px 494px #FFF , 189px 559px #FFF , 238px 421px #FFF , 194px 949px #FFF , 63px 1854px #FFF , 141px 1607px #FFF , 11px 1875px #FFF , 185px 1581px #FFF , 150px 314px #FFF , 30px 109px #FFF , 87px 962px #FFF , 33px 1305px #FFF , 239px 645px #FFF , 126px 1921px #FFF , 32px 1342px #FFF , 7px 1801px #FFF , 248px 942px #FFF , 117px 1237px #FFF , 138px 246px #FFF , 102px 74px #FFF , 51px 596px #FFF , 247px 1698px #FFF , 143px 937px #FFF , 37px 1821px #FFF , 130px 1696px #FFF , 51px 239px #FFF , 47px 1773px #FFF , 106px 522px #FFF , 146px 853px #FFF , 201px 1978px #FFF , 91px 149px #FFF , 45px 745px #FFF , 220px 623px #FFF , 204px 1061px #FFF , 211px 1182px #FFF , 5px 1281px #FFF , 180px 189px #FFF , 169px 602px #FFF , 45px 765px #FFF , 57px 626px #FFF , 202px 4px #FFF , 27px 1488px #FFF , 160px 1612px #FFF , 246px 1506px #FFF , 84px 1033px #FFF , 27px 1916px #FFF , 216px 317px #FFF , 68px 1588px #FFF , 31px 1736px #FFF , 35px 81px #FFF , 125px 1064px #FFF , 46px 1039px #FFF , 54px 1672px #FFF , 75px 845px #FFF , 131px 1254px #FFF , 99px 733px #FFF , 231px 31px #FFF , 44px 1775px #FFF , 127px 1165px #FFF , 221px 1016px #FFF , 115px 1546px #FFF , 118px 269px #FFF , 3px 310px #FFF , 64px 1354px #FFF , 185px 322px #FFF , 8px 572px #FFF , 194px 913px #FFF , 223px 1446px #FFF , 213px 234px #FFF , 38px 1962px #FFF , 220px 819px #FFF , 141px 268px #FFF , 204px 1351px #FFF , 241px 294px #FFF , 55px 638px #FFF , 222px 966px #FFF , 183px 86px #FFF , 220px 1469px #FFF , 162px 1281px #FFF , 103px 1898px #FFF , 250px 1898px #FFF , 213px 376px #FFF , 78px 904px #FFF , 138px 709px #FFF , 122px 811px #FFF , 139px 238px #FFF , 136px 1719px #FFF , 164px 1711px #FFF , 166px 1908px #FFF , 26px 684px #FFF , 117px 1946px #FFF , 92px 597px #FFF , 24px 1550px #FFF , 250px 1047px #FFF , 87px 1283px #FFF , 161px 1867px #FFF , 60px 850px #FFF , 111px 309px #FFF , 238px 1741px #FFF , 10px 365px #FFF , 98px 258px #FFF , 106px 1095px #FFF , 135px 960px #FFF , 87px 1009px #FFF , 32px 786px #FFF , 157px 853px #FFF , 51px 1919px #FFF , 177px 233px #FFF , 188px 360px #FFF , 25px 416px #FFF , 233px 616px #FFF , 79px 1206px #FFF , 75px 1259px #FFF , 224px 1657px #FFF , 19px 1657px #FFF , 50px 1214px #FFF , 31px 1173px #FFF , 180px 626px #FFF , 126px 1462px #FFF , 71px 739px #FFF , 79px 715px #FFF , 7px 210px #FFF , 88px 468px #FFF , 227px 80px #FFF , 199px 26px #FFF , 129px 1884px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 210px 189px #FFF , 99px 1124px #FFF , 212px 1016px #FFF , 94px 110px #FFF , 195px 1892px #FFF , 185px 315px #FFF , 183px 1005px #FFF , 125px 267px #FFF , 121px 544px #FFF , 119px 977px #FFF , 176px 123px #FFF , 150px 223px #FFF , 59px 1723px #FFF , 73px 1899px #FFF , 150px 1035px #FFF , 11px 1091px #FFF , 147px 778px #FFF , 90px 463px #FFF , 146px 235px #FFF , 230px 1315px #FFF , 186px 740px #FFF , 215px 571px #FFF , 24px 1841px #FFF , 129px 1531px #FFF , 221px 540px #FFF , 167px 59px #FFF , 157px 25px #FFF , 176px 81px #FFF , 156px 626px #FFF , 157px 1989px #FFF , 185px 1362px #FFF , 186px 138px #FFF , 119px 485px #FFF , 176px 1306px #FFF , 133px 796px #FFF , 169px 1615px #FFF , 199px 1066px #FFF , 31px 1954px #FFF , 26px 718px #FFF , 38px 1690px #FFF , 242px 811px #FFF , 148px 1819px #FFF , 207px 337px #FFF , 237px 1175px #FFF , 157px 1192px #FFF , 16px 193px #FFF , 67px 1178px #FFF , 240px 1242px #FFF , 161px 211px #FFF , 241px 211px #FFF , 189px 928px #FFF , 127px 15px #FFF , 231px 1521px #FFF , 54px 1706px #FFF , 44px 825px #FFF , 2px 1467px #FFF , 142px 131px #FFF , 52px 547px #FFF , 3px 1799px #FFF , 210px 259px #FFF , 35px 1748px #FFF , 12px 923px #FFF , 245px 1056px #FFF , 96px 1878px #FFF , 203px 191px #FFF , 223px 677px #FFF , 7px 506px #FFF , 203px 642px #FFF , 155px 867px #FFF , 111px 1118px #FFF , 115px 107px #FFF , 40px 704px #FFF , 103px 30px #FFF , 172px 1480px #FFF , 143px 563px #FFF , 15px 1366px #FFF , 238px 294px #FFF , 166px 1133px #FFF , 93px 1124px #FFF , 165px 1659px #FFF , 239px 973px #FFF , 18px 1622px #FFF , 30px 2px #FFF , 73px 1484px #FFF , 191px 537px #FFF , 242px 1536px #FFF , 130px 1626px #FFF , 129px 1438px #FFF , 41px 1208px #FFF , 138px 1999px #FFF , 118px 1715px #FFF , 3px 1172px #FFF , 1px 21px #FFF , 134px 1756px #FFF , 44px 391px #FFF , 192px 1575px #FFF , 188px 1311px #FFF , 179px 1872px #FFF , 134px 341px #FFF , 139px 398px #FFF , 193px 837px #FFF , 225px 1126px #FFF , 25px 1105px #FFF , 3px 1395px #FFF , 242px 1712px #FFF , 207px 1533px #FFF , 58px 1915px #FFF , 136px 555px #FFF , 202px 1210px #FFF , 58px 1470px #FFF , 129px 1830px #FFF , 207px 499px #FFF , 29px 1101px #FFF , 72px 571px #FFF , 202px 1879px #FFF , 105px 856px #FFF , 107px 1414px #FFF , 223px 521px #FFF , 223px 940px #FFF , 8px 1702px #FFF , 11px 173px #FFF , 235px 1500px #FFF , 89px 980px #FFF , 156px 605px #FFF , 58px 739px #FFF , 112px 1310px #FFF , 221px 1780px #FFF , 180px 119px #FFF , 124px 73px #FFF , 213px 482px #FFF , 37px 1648px #FFF , 75px 1478px #FFF , 31px 659px #FFF , 149px 1571px #FFF , 242px 1083px #FFF , 124px 435px #FFF , 221px 1061px #FFF , 109px 241px #FFF , 57px 499px #FFF , 89px 1285px #FFF , 95px 455px #FFF , 185px 1730px #FFF , 5px 24px #FFF , 139px 161px #FFF , 162px 1198px #FFF , 11px 1404px #FFF , 213px 963px #FFF , 152px 1892px #FFF , 184px 1956px #FFF , 70px 1562px #FFF , 181px 141px #FFF , 241px 1036px #FFF , 249px 1539px #FFF , 105px 1466px #FFF , 161px 1666px #FFF , 93px 694px #FFF , 72px 1162px #FFF , 209px 566px #FFF , 38px 451px #FFF , 95px 166px #FFF , 176px 476px #FFF , 192px 1306px #FFF , 8px 993px #FFF , 68px 1151px #FFF , 223px 1132px #FFF , 30px 395px #FFF , 55px 1080px #FFF , 37px 451px #FFF , 217px 950px #FFF , 187px 1155px #FFF , 180px 74px #FFF , 80px 1738px #FFF , 126px 55px #FFF , 189px 314px #FFF , 27px 199px #FFF , 103px 1876px #FFF , 104px 1570px #FFF , 52px 1195px #FFF , 32px 1797px #FFF , 234px 1346px #FFF , 33px 1639px #FFF , 124px 1845px #FFF , 107px 1815px #FFF , 189px 1708px #FFF , 75px 1751px #FFF , 45px 307px #FFF , 4px 111px #FFF , 140px 1891px #FFF , 54px 1006px #FFF , 193px 710px #FFF , 222px 1624px #FFF , 143px 1091px #FFF , 133px 706px #FFF , 132px 566px #FFF , 193px 1895px #FFF , 168px 1493px #FFF , 167px 478px #FFF , 179px 228px #FFF , 44px 765px #FFF , 63px 215px #FFF;
  animation: animStar 150s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 210px 189px #FFF , 99px 1124px #FFF , 212px 1016px #FFF , 94px 110px #FFF , 195px 1892px #FFF , 185px 315px #FFF , 183px 1005px #FFF , 125px 267px #FFF , 121px 544px #FFF , 119px 977px #FFF , 176px 123px #FFF , 150px 223px #FFF , 59px 1723px #FFF , 73px 1899px #FFF , 150px 1035px #FFF , 11px 1091px #FFF , 147px 778px #FFF , 90px 463px #FFF , 146px 235px #FFF , 230px 1315px #FFF , 186px 740px #FFF , 215px 571px #FFF , 24px 1841px #FFF , 129px 1531px #FFF , 221px 540px #FFF , 167px 59px #FFF , 157px 25px #FFF , 176px 81px #FFF , 156px 626px #FFF , 157px 1989px #FFF , 185px 1362px #FFF , 186px 138px #FFF , 119px 485px #FFF , 176px 1306px #FFF , 133px 796px #FFF , 169px 1615px #FFF , 199px 1066px #FFF , 31px 1954px #FFF , 26px 718px #FFF , 38px 1690px #FFF , 242px 811px #FFF , 148px 1819px #FFF , 207px 337px #FFF , 237px 1175px #FFF , 157px 1192px #FFF , 16px 193px #FFF , 67px 1178px #FFF , 240px 1242px #FFF , 161px 211px #FFF , 241px 211px #FFF , 189px 928px #FFF , 127px 15px #FFF , 231px 1521px #FFF , 54px 1706px #FFF , 44px 825px #FFF , 2px 1467px #FFF , 142px 131px #FFF , 52px 547px #FFF , 3px 1799px #FFF , 210px 259px #FFF , 35px 1748px #FFF , 12px 923px #FFF , 245px 1056px #FFF , 96px 1878px #FFF , 203px 191px #FFF , 223px 677px #FFF , 7px 506px #FFF , 203px 642px #FFF , 155px 867px #FFF , 111px 1118px #FFF , 115px 107px #FFF , 40px 704px #FFF , 103px 30px #FFF , 172px 1480px #FFF , 143px 563px #FFF , 15px 1366px #FFF , 238px 294px #FFF , 166px 1133px #FFF , 93px 1124px #FFF , 165px 1659px #FFF , 239px 973px #FFF , 18px 1622px #FFF , 30px 2px #FFF , 73px 1484px #FFF , 191px 537px #FFF , 242px 1536px #FFF , 130px 1626px #FFF , 129px 1438px #FFF , 41px 1208px #FFF , 138px 1999px #FFF , 118px 1715px #FFF , 3px 1172px #FFF , 1px 21px #FFF , 134px 1756px #FFF , 44px 391px #FFF , 192px 1575px #FFF , 188px 1311px #FFF , 179px 1872px #FFF , 134px 341px #FFF , 139px 398px #FFF , 193px 837px #FFF , 225px 1126px #FFF , 25px 1105px #FFF , 3px 1395px #FFF , 242px 1712px #FFF , 207px 1533px #FFF , 58px 1915px #FFF , 136px 555px #FFF , 202px 1210px #FFF , 58px 1470px #FFF , 129px 1830px #FFF , 207px 499px #FFF , 29px 1101px #FFF , 72px 571px #FFF , 202px 1879px #FFF , 105px 856px #FFF , 107px 1414px #FFF , 223px 521px #FFF , 223px 940px #FFF , 8px 1702px #FFF , 11px 173px #FFF , 235px 1500px #FFF , 89px 980px #FFF , 156px 605px #FFF , 58px 739px #FFF , 112px 1310px #FFF , 221px 1780px #FFF , 180px 119px #FFF , 124px 73px #FFF , 213px 482px #FFF , 37px 1648px #FFF , 75px 1478px #FFF , 31px 659px #FFF , 149px 1571px #FFF , 242px 1083px #FFF , 124px 435px #FFF , 221px 1061px #FFF , 109px 241px #FFF , 57px 499px #FFF , 89px 1285px #FFF , 95px 455px #FFF , 185px 1730px #FFF , 5px 24px #FFF , 139px 161px #FFF , 162px 1198px #FFF , 11px 1404px #FFF , 213px 963px #FFF , 152px 1892px #FFF , 184px 1956px #FFF , 70px 1562px #FFF , 181px 141px #FFF , 241px 1036px #FFF , 249px 1539px #FFF , 105px 1466px #FFF , 161px 1666px #FFF , 93px 694px #FFF , 72px 1162px #FFF , 209px 566px #FFF , 38px 451px #FFF , 95px 166px #FFF , 176px 476px #FFF , 192px 1306px #FFF , 8px 993px #FFF , 68px 1151px #FFF , 223px 1132px #FFF , 30px 395px #FFF , 55px 1080px #FFF , 37px 451px #FFF , 217px 950px #FFF , 187px 1155px #FFF , 180px 74px #FFF , 80px 1738px #FFF , 126px 55px #FFF , 189px 314px #FFF , 27px 199px #FFF , 103px 1876px #FFF , 104px 1570px #FFF , 52px 1195px #FFF , 32px 1797px #FFF , 234px 1346px #FFF , 33px 1639px #FFF , 124px 1845px #FFF , 107px 1815px #FFF , 189px 1708px #FFF , 75px 1751px #FFF , 45px 307px #FFF , 4px 111px #FFF , 140px 1891px #FFF , 54px 1006px #FFF , 193px 710px #FFF , 222px 1624px #FFF , 143px 1091px #FFF , 133px 706px #FFF , 132px 566px #FFF , 193px 1895px #FFF , 168px 1493px #FFF , 167px 478px #FFF , 179px 228px #FFF , 44px 765px #FFF , 63px 215px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 180px 272px #FFF , 173px 776px #FFF , 125px 491px #FFF , 16px 1087px #FFF , 187px 1646px #FFF , 175px 514px #FFF , 115px 514px #FFF , 100px 906px #FFF , 37px 663px #FFF , 187px 1563px #FFF , 158px 818px #FFF , 146px 398px #FFF , 177px 274px #FFF , 44px 1721px #FFF , 102px 952px #FFF , 45px 1571px #FFF , 246px 1740px #FFF , 87px 966px #FFF , 77px 1051px #FFF , 183px 971px #FFF , 177px 592px #FFF , 229px 1832px #FFF , 183px 1765px #FFF , 84px 942px #FFF , 165px 1795px #FFF , 200px 119px #FFF , 213px 82px #FFF , 156px 196px #FFF , 245px 111px #FFF , 58px 1103px #FFF , 203px 1331px #FFF , 39px 902px #FFF , 141px 744px #FFF , 158px 951px #FFF , 89px 6px #FFF , 164px 604px #FFF , 16px 364px #FFF , 178px 1767px #FFF , 142px 1171px #FFF , 242px 24px #FFF , 48px 71px #FFF , 166px 1562px #FFF , 97px 426px #FFF , 196px 1907px #FFF , 138px 1217px #FFF , 7px 1821px #FFF , 155px 77px #FFF , 73px 1847px #FFF , 47px 1773px #FFF , 155px 447px #FFF , 57px 1413px #FFF , 1px 885px #FFF , 194px 1253px #FFF , 22px 476px #FFF , 93px 1844px #FFF , 70px 341px #FFF , 241px 969px #FFF , 17px 530px #FFF , 28px 1511px #FFF , 29px 99px #FFF , 193px 102px #FFF , 84px 196px #FFF , 187px 1592px #FFF , 68px 899px #FFF , 46px 335px #FFF , 218px 643px #FFF , 226px 1878px #FFF , 147px 53px #FFF , 249px 349px #FFF , 192px 970px #FFF , 226px 1923px #FFF , 228px 910px #FFF , 130px 1841px #FFF , 9px 458px #FFF , 175px 91px #FFF , 58px 1803px #FFF , 85px 177px #FFF , 211px 1486px #FFF , 179px 673px #FFF , 26px 669px #FFF , 9px 232px #FFF , 6px 1597px #FFF , 71px 51px #FFF , 53px 1814px #FFF , 17px 1864px #FFF , 13px 1966px #FFF , 213px 1086px #FFF , 174px 544px #FFF , 168px 1197px #FFF , 64px 334px #FFF , 126px 1295px #FFF , 70px 1062px #FFF , 159px 1400px #FFF , 47px 823px #FFF , 237px 1299px #FFF , 139px 1751px #FFF , 46px 899px #FFF , 10px 1153px #FFF , 205px 1274px #FFF , 221px 1737px #FFF;
  animation: animStar 200s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 180px 272px #FFF , 173px 776px #FFF , 125px 491px #FFF , 16px 1087px #FFF , 187px 1646px #FFF , 175px 514px #FFF , 115px 514px #FFF , 100px 906px #FFF , 37px 663px #FFF , 187px 1563px #FFF , 158px 818px #FFF , 146px 398px #FFF , 177px 274px #FFF , 44px 1721px #FFF , 102px 952px #FFF , 45px 1571px #FFF , 246px 1740px #FFF , 87px 966px #FFF , 77px 1051px #FFF , 183px 971px #FFF , 177px 592px #FFF , 229px 1832px #FFF , 183px 1765px #FFF , 84px 942px #FFF , 165px 1795px #FFF , 200px 119px #FFF , 213px 82px #FFF , 156px 196px #FFF , 245px 111px #FFF , 58px 1103px #FFF , 203px 1331px #FFF , 39px 902px #FFF , 141px 744px #FFF , 158px 951px #FFF , 89px 6px #FFF , 164px 604px #FFF , 16px 364px #FFF , 178px 1767px #FFF , 142px 1171px #FFF , 242px 24px #FFF , 48px 71px #FFF , 166px 1562px #FFF , 97px 426px #FFF , 196px 1907px #FFF , 138px 1217px #FFF , 7px 1821px #FFF , 155px 77px #FFF , 73px 1847px #FFF , 47px 1773px #FFF , 155px 447px #FFF , 57px 1413px #FFF , 1px 885px #FFF , 194px 1253px #FFF , 22px 476px #FFF , 93px 1844px #FFF , 70px 341px #FFF , 241px 969px #FFF , 17px 530px #FFF , 28px 1511px #FFF , 29px 99px #FFF , 193px 102px #FFF , 84px 196px #FFF , 187px 1592px #FFF , 68px 899px #FFF , 46px 335px #FFF , 218px 643px #FFF , 226px 1878px #FFF , 147px 53px #FFF , 249px 349px #FFF , 192px 970px #FFF , 226px 1923px #FFF , 228px 910px #FFF , 130px 1841px #FFF , 9px 458px #FFF , 175px 91px #FFF , 58px 1803px #FFF , 85px 177px #FFF , 211px 1486px #FFF , 179px 673px #FFF , 26px 669px #FFF , 9px 232px #FFF , 6px 1597px #FFF , 71px 51px #FFF , 53px 1814px #FFF , 17px 1864px #FFF , 13px 1966px #FFF , 213px 1086px #FFF , 174px 544px #FFF , 168px 1197px #FFF , 64px 334px #FFF , 126px 1295px #FFF , 70px 1062px #FFF , 159px 1400px #FFF , 47px 823px #FFF , 237px 1299px #FFF , 139px 1751px #FFF , 46px 899px #FFF , 10px 1153px #FFF , 205px 1274px #FFF , 221px 1737px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  height: 100%; }

body {
  position: relative;
  height: 100%;
  background-image: url("./../assets/Images/Body-Background.png");
  background-size: cover; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: #FDFDCB;
  text-decoration: underline; }

/**
 * Basic styles for links
 
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}*/
@font-face {
  font-family: PT;
  src: url("./../assets/Fonts/PT_Sans-Web-Regular.ttf"); }
/**
 * Basic typography style for copy text
 */
body {
  color: #cccccc;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  min-height: 550px;
  border-right: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8;
    /*#title
    {
        color: $text-high-color;
        font-family: $title-font-stack;
        font-size: nth($font-size, 1)+10px;

        margin: 10px;
        margin-top: 5px;
    }*/ }
  header::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 249px;
    height: 144px;
    background-image: url("./../assets/Images/Avatar.png"); }
  header .banner {
    margin: auto;
    margin-top: -10px;
    z-index: 100;
    opacity: 1;
    width: 86.25px;
    height: 23.20359%; }
  header #menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    margin: auto; }
    header #menu .button-menu {
      display: block;
      width: 90%;
      margin-top: 20px; }

.content {
  margin-left: 250px;
  padding: 50px; }

.articles {
  display: block;
  width: 100%;
  height: 100%; }
  .articles .panel {
    z-index: 1; }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 0;
  text-align: right;
  color: white;
  font-size: 12px; }

p.important {
  background-color: #05162a;
  color: white; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte
  =======================================*/
.panel {
  background-color: #081a32;
  color: #cccccc;
  padding: 15px;
  padding-top: 55px;
  position: relative;
  border: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8; }
  .panel:before {
    font-size: 25px;
    color: white;
    content: attr(title);
    position: absolute;
    padding: 15px;
    padding-top: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #4494b8; }
  .panel:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./../assets/Images/Div-Top.png");
    background-size: auto 100%;
    width: 100%;
    height: 6px; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte et pr├®sentant un article
  =======================================*/
.panel-article {
  padding-bottom: 30px; }
  .panel-article .author {
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .panel-article .date {
    position: absolute;
    right: 10px;
    top: 10px; }
  .panel-article .click {
    display: block;
    width: 100%;
    text-align: center; }

.banner {
  display: block;
  position: relative;
  width: 69px;
  height: 152px;
  z-index: 1;
  background-image: url("./../assets/Images/Banner.png");
  background-size: 100% 100%; }
  .banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/Images/freedom-dove.svg");
    background-position: center 60%;
    background-repeat: no-repeat; }

/*=======================================
  D├®finition des composant bouton
  =======================================*/
/*--------------------------------------
Composant bouton de menu
---------------------------------------*/
.button-menu {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  background-color: #0a4e76;
  overflow: hidden;
  transition: all 0.5s ease;
  box-sizing: content-box; }
  .button-menu.index {
    background-image: url("./../assets/Images/steel-door.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.tech {
    background-image: url("./../assets/Images/arrow-scope.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.gallery {
    background-image: url("./../assets/Images/eagle-emblem.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu:hover {
    box-shadow: 5px 5px 5px black;
    top: -5px;
    left: -5px;
    background-color: #4494b8; }

/*--------------------------------------
Composant bouton de base
---------------------------------------*/
.button-base {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  overflow: hidden;
  transition: all 0.25s ease; }
  .button-base:before {
    z-index: -1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4494b8;
    opacity: 0.3;
    transition: all 0.25s ease; }
  .button-base:hover {
    box-shadow: 0px 0px 1px #4494b8; }
    .button-base:hover:before {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
