@charset "UTF-8";
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 180px 1171px #FFF , 105px 975px #FFF , 46px 161px #FFF , 149px 449px #FFF , 230px 582px #FFF , 211px 57px #FFF , 215px 1571px #FFF , 128px 1845px #FFF , 246px 746px #FFF , 14px 249px #FFF , 179px 1957px #FFF , 40px 426px #FFF , 196px 1284px #FFF , 155px 898px #FFF , 231px 1789px #FFF , 205px 171px #FFF , 63px 1448px #FFF , 79px 1725px #FFF , 101px 1619px #FFF , 29px 1469px #FFF , 233px 132px #FFF , 109px 987px #FFF , 111px 511px #FFF , 154px 441px #FFF , 170px 1556px #FFF , 66px 1912px #FFF , 105px 243px #FFF , 112px 1718px #FFF , 88px 905px #FFF , 81px 654px #FFF , 246px 1381px #FFF , 14px 1457px #FFF , 121px 1993px #FFF , 31px 1502px #FFF , 215px 60px #FFF , 114px 1471px #FFF , 245px 555px #FFF , 54px 1411px #FFF , 10px 1406px #FFF , 181px 1482px #FFF , 12px 101px #FFF , 98px 509px #FFF , 181px 1108px #FFF , 80px 1238px #FFF , 39px 1634px #FFF , 12px 169px #FFF , 53px 1958px #FFF , 104px 1575px #FFF , 230px 1692px #FFF , 237px 843px #FFF , 120px 1623px #FFF , 235px 551px #FFF , 215px 222px #FFF , 242px 1539px #FFF , 86px 1902px #FFF , 15px 1740px #FFF , 212px 1560px #FFF , 234px 551px #FFF , 25px 1666px #FFF , 223px 696px #FFF , 11px 300px #FFF , 33px 1335px #FFF , 37px 1579px #FFF , 77px 362px #FFF , 64px 1144px #FFF , 60px 259px #FFF , 126px 677px #FFF , 181px 1465px #FFF , 180px 676px #FFF , 19px 1016px #FFF , 207px 1274px #FFF , 112px 386px #FFF , 116px 361px #FFF , 11px 103px #FFF , 48px 1282px #FFF , 63px 1651px #FFF , 52px 1823px #FFF , 198px 1021px #FFF , 29px 1768px #FFF , 200px 1439px #FFF , 110px 1280px #FFF , 218px 1777px #FFF , 106px 1004px #FFF , 48px 1424px #FFF , 197px 1676px #FFF , 74px 383px #FFF , 190px 1855px #FFF , 50px 146px #FFF , 58px 468px #FFF , 162px 511px #FFF , 211px 358px #FFF , 227px 544px #FFF , 92px 367px #FFF , 10px 1564px #FFF , 198px 41px #FFF , 198px 1871px #FFF , 152px 1704px #FFF , 33px 1841px #FFF , 145px 191px #FFF , 211px 701px #FFF , 233px 1910px #FFF , 111px 657px #FFF , 217px 1901px #FFF , 131px 1229px #FFF , 89px 1146px #FFF , 22px 251px #FFF , 121px 1355px #FFF , 170px 174px #FFF , 159px 440px #FFF , 182px 1431px #FFF , 18px 749px #FFF , 55px 514px #FFF , 52px 1549px #FFF , 11px 477px #FFF , 95px 274px #FFF , 119px 1065px #FFF , 84px 588px #FFF , 161px 813px #FFF , 198px 1288px #FFF , 238px 944px #FFF , 217px 1120px #FFF , 169px 1125px #FFF , 150px 1523px #FFF , 193px 411px #FFF , 33px 231px #FFF , 76px 1899px #FFF , 6px 89px #FFF , 224px 1596px #FFF , 54px 1555px #FFF , 78px 775px #FFF , 218px 1645px #FFF , 197px 1127px #FFF , 123px 805px #FFF , 230px 1651px #FFF , 28px 523px #FFF , 246px 482px #FFF , 170px 238px #FFF , 97px 824px #FFF , 4px 1645px #FFF , 93px 1271px #FFF , 113px 1399px #FFF , 121px 518px #FFF , 43px 1874px #FFF , 50px 99px #FFF , 3px 1244px #FFF , 133px 565px #FFF , 28px 1225px #FFF , 179px 1795px #FFF , 110px 1900px #FFF , 187px 1801px #FFF , 10px 913px #FFF , 118px 1939px #FFF , 188px 1209px #FFF , 126px 161px #FFF , 32px 770px #FFF , 208px 1531px #FFF , 233px 640px #FFF , 250px 669px #FFF , 166px 950px #FFF , 250px 1206px #FFF , 25px 191px #FFF , 162px 1738px #FFF , 133px 1638px #FFF , 55px 234px #FFF , 156px 1200px #FFF , 12px 660px #FFF , 219px 220px #FFF , 42px 1796px #FFF , 224px 897px #FFF , 8px 1262px #FFF , 78px 1787px #FFF , 21px 207px #FFF , 137px 77px #FFF , 151px 1022px #FFF , 52px 1550px #FFF , 66px 1937px #FFF , 138px 1360px #FFF , 204px 76px #FFF , 106px 729px #FFF , 165px 1661px #FFF , 15px 796px #FFF , 159px 1437px #FFF , 80px 1671px #FFF , 224px 1306px #FFF , 123px 513px #FFF , 158px 3px #FFF , 171px 1513px #FFF , 152px 314px #FFF , 74px 237px #FFF , 187px 706px #FFF , 245px 995px #FFF , 74px 1571px #FFF , 127px 417px #FFF , 70px 658px #FFF , 37px 874px #FFF , 157px 1323px #FFF , 10px 472px #FFF , 87px 1105px #FFF , 187px 1236px #FFF , 231px 19px #FFF , 151px 45px #FFF , 247px 362px #FFF , 55px 1286px #FFF , 206px 1519px #FFF , 78px 14px #FFF , 29px 1994px #FFF , 14px 1818px #FFF , 132px 1506px #FFF , 158px 70px #FFF , 144px 1475px #FFF , 58px 1349px #FFF , 149px 1216px #FFF , 14px 943px #FFF , 47px 1858px #FFF , 116px 1447px #FFF , 208px 1214px #FFF , 50px 5px #FFF , 181px 1638px #FFF , 100px 14px #FFF , 104px 908px #FFF , 192px 95px #FFF , 59px 36px #FFF , 5px 647px #FFF , 111px 1314px #FFF , 56px 812px #FFF , 175px 364px #FFF , 207px 93px #FFF , 24px 1675px #FFF , 121px 1911px #FFF , 88px 476px #FFF , 124px 405px #FFF , 47px 1824px #FFF , 175px 1537px #FFF , 199px 778px #FFF , 17px 480px #FFF , 91px 509px #FFF , 193px 827px #FFF , 217px 272px #FFF , 42px 1843px #FFF , 45px 611px #FFF , 246px 1472px #FFF , 246px 1056px #FFF , 224px 1216px #FFF , 112px 478px #FFF , 68px 1719px #FFF , 111px 483px #FFF , 8px 130px #FFF , 219px 1745px #FFF , 241px 261px #FFF , 244px 1048px #FFF , 85px 641px #FFF , 88px 1881px #FFF , 45px 450px #FFF , 226px 820px #FFF , 194px 12px #FFF , 88px 1995px #FFF , 115px 1116px #FFF , 244px 115px #FFF , 121px 1598px #FFF , 176px 1483px #FFF , 218px 1437px #FFF , 32px 1290px #FFF , 146px 1071px #FFF , 137px 248px #FFF , 62px 1672px #FFF , 193px 1910px #FFF , 229px 876px #FFF , 55px 1250px #FFF , 232px 1109px #FFF , 154px 661px #FFF , 181px 1051px #FFF , 109px 1674px #FFF , 79px 1457px #FFF , 185px 691px #FFF , 202px 731px #FFF , 185px 419px #FFF , 145px 212px #FFF , 14px 1497px #FFF , 43px 1672px #FFF , 138px 1825px #FFF , 236px 947px #FFF , 33px 197px #FFF , 243px 1614px #FFF , 21px 1268px #FFF , 43px 542px #FFF , 26px 212px #FFF , 218px 838px #FFF , 59px 1494px #FFF , 66px 771px #FFF , 136px 259px #FFF , 184px 52px #FFF , 188px 338px #FFF , 60px 678px #FFF , 112px 469px #FFF , 183px 1376px #FFF , 242px 24px #FFF , 25px 1014px #FFF , 118px 729px #FFF , 227px 1854px #FFF , 111px 53px #FFF , 73px 1372px #FFF , 90px 1130px #FFF , 85px 123px #FFF , 33px 871px #FFF , 17px 1228px #FFF , 209px 28px #FFF , 1px 1758px #FFF , 61px 1343px #FFF , 142px 1664px #FFF , 233px 1195px #FFF , 88px 1471px #FFF , 54px 79px #FFF , 187px 813px #FFF , 239px 784px #FFF , 7px 1165px #FFF , 124px 743px #FFF , 107px 319px #FFF , 65px 1573px #FFF , 78px 1338px #FFF , 102px 368px #FFF , 223px 558px #FFF , 232px 847px #FFF , 159px 118px #FFF , 88px 1743px #FFF , 243px 601px #FFF , 128px 1756px #FFF , 174px 853px #FFF , 114px 1138px #FFF , 182px 71px #FFF , 65px 663px #FFF , 15px 1471px #FFF , 82px 821px #FFF , 30px 623px #FFF , 198px 164px #FFF , 216px 291px #FFF , 216px 346px #FFF , 165px 1363px #FFF , 222px 529px #FFF , 66px 721px #FFF , 247px 1603px #FFF , 33px 1405px #FFF , 221px 387px #FFF , 227px 639px #FFF , 1px 1836px #FFF , 171px 548px #FFF , 201px 1913px #FFF , 59px 214px #FFF , 29px 432px #FFF , 91px 1009px #FFF , 240px 1971px #FFF , 117px 1640px #FFF , 119px 1808px #FFF , 126px 1465px #FFF , 113px 660px #FFF , 76px 408px #FFF , 41px 641px #FFF , 62px 1322px #FFF , 164px 3px #FFF , 126px 1209px #FFF , 158px 1835px #FFF , 74px 1115px #FFF , 175px 620px #FFF , 157px 23px #FFF , 21px 1048px #FFF , 134px 1126px #FFF , 88px 1337px #FFF , 61px 1980px #FFF , 10px 1735px #FFF , 221px 190px #FFF , 134px 1313px #FFF , 52px 416px #FFF , 190px 1636px #FFF , 213px 1608px #FFF , 214px 1787px #FFF , 11px 749px #FFF , 12px 1079px #FFF , 49px 1283px #FFF , 137px 1168px #FFF , 35px 156px #FFF , 210px 1989px #FFF , 106px 1839px #FFF , 56px 1243px #FFF , 26px 1584px #FFF , 210px 614px #FFF , 164px 1043px #FFF , 108px 145px #FFF , 143px 1820px #FFF , 54px 257px #FFF , 133px 1597px #FFF , 9px 921px #FFF , 11px 1880px #FFF , 35px 1118px #FFF , 35px 1421px #FFF , 214px 218px #FFF , 166px 439px #FFF , 110px 1656px #FFF , 95px 1979px #FFF , 206px 272px #FFF , 220px 418px #FFF , 29px 332px #FFF , 226px 1154px #FFF , 200px 1496px #FFF , 211px 482px #FFF , 141px 1923px #FFF , 206px 308px #FFF , 116px 825px #FFF , 179px 1689px #FFF , 112px 1959px #FFF , 194px 330px #FFF , 186px 1672px #FFF , 112px 446px #FFF , 13px 865px #FFF , 241px 43px #FFF , 161px 571px #FFF , 81px 1885px #FFF , 30px 1478px #FFF , 182px 447px #FFF , 23px 877px #FFF , 179px 1583px #FFF , 137px 1939px #FFF , 51px 1337px #FFF , 209px 1613px #FFF , 147px 1983px #FFF , 106px 1165px #FFF , 240px 340px #FFF , 135px 1370px #FFF , 20px 1228px #FFF , 179px 1481px #FFF , 172px 1478px #FFF , 136px 1489px #FFF , 227px 730px #FFF , 201px 312px #FFF , 190px 171px #FFF , 133px 379px #FFF , 240px 744px #FFF , 70px 769px #FFF , 209px 1956px #FFF , 44px 1881px #FFF , 27px 1581px #FFF , 244px 1736px #FFF , 45px 1953px #FFF , 69px 1084px #FFF , 7px 1312px #FFF , 197px 1089px #FFF , 142px 1589px #FFF , 214px 1165px #FFF , 71px 368px #FFF , 190px 1371px #FFF , 165px 1140px #FFF , 30px 118px #FFF , 30px 295px #FFF , 173px 236px #FFF , 214px 1365px #FFF , 221px 1344px #FFF , 164px 1496px #FFF , 249px 1804px #FFF , 247px 299px #FFF , 53px 50px #FFF , 198px 57px #FFF , 87px 70px #FFF , 39px 1033px #FFF , 123px 1746px #FFF , 110px 1644px #FFF , 80px 498px #FFF , 119px 1078px #FFF , 118px 723px #FFF , 178px 782px #FFF , 63px 393px #FFF , 42px 1177px #FFF , 20px 1833px #FFF , 202px 462px #FFF , 187px 339px #FFF , 79px 355px #FFF , 188px 1481px #FFF , 71px 86px #FFF , 109px 1072px #FFF , 16px 1103px #FFF , 233px 1585px #FFF , 60px 140px #FFF , 178px 1062px #FFF , 104px 489px #FFF , 187px 90px #FFF , 131px 24px #FFF , 194px 1771px #FFF , 170px 1759px #FFF , 14px 1192px #FFF , 27px 1926px #FFF , 217px 756px #FFF , 114px 733px #FFF , 31px 1587px #FFF , 14px 124px #FFF , 190px 1366px #FFF , 73px 697px #FFF , 130px 1193px #FFF , 69px 816px #FFF , 184px 1953px #FFF , 250px 1348px #FFF , 246px 162px #FFF , 171px 1973px #FFF , 215px 1371px #FFF , 94px 1114px #FFF , 180px 1907px #FFF , 217px 632px #FFF , 81px 810px #FFF , 224px 1558px #FFF , 103px 1679px #FFF , 16px 1010px #FFF , 152px 808px #FFF , 41px 1790px #FFF , 246px 1046px #FFF , 110px 1248px #FFF , 152px 1262px #FFF , 249px 1109px #FFF , 153px 1476px #FFF , 61px 873px #FFF , 124px 1013px #FFF , 64px 774px #FFF , 214px 1710px #FFF , 165px 256px #FFF , 140px 1669px #FFF , 178px 1343px #FFF , 176px 1598px #FFF , 97px 338px #FFF , 46px 1968px #FFF , 111px 722px #FFF , 205px 1235px #FFF , 13px 355px #FFF , 235px 1856px #FFF , 132px 457px #FFF , 149px 1622px #FFF , 125px 1525px #FFF , 227px 1028px #FFF , 23px 317px #FFF , 49px 1821px #FFF , 151px 1155px #FFF , 110px 519px #FFF , 246px 18px #FFF , 96px 1782px #FFF , 236px 257px #FFF , 1px 1277px #FFF , 85px 1666px #FFF , 56px 1919px #FFF , 153px 1331px #FFF , 120px 1801px #FFF , 129px 1663px #FFF , 206px 899px #FFF , 137px 1645px #FFF , 45px 1963px #FFF , 216px 785px #FFF , 161px 1881px #FFF , 62px 1076px #FFF , 176px 1110px #FFF , 215px 1435px #FFF , 136px 173px #FFF , 232px 714px #FFF , 122px 1748px #FFF , 99px 1931px #FFF , 81px 1283px #FFF , 179px 150px #FFF , 248px 449px #FFF , 217px 1904px #FFF , 171px 241px #FFF , 109px 752px #FFF , 90px 116px #FFF , 79px 1862px #FFF , 202px 1944px #FFF , 153px 1522px #FFF , 175px 901px #FFF , 173px 1794px #FFF , 111px 407px #FFF , 71px 1338px #FFF , 163px 1663px #FFF , 140px 1712px #FFF , 91px 358px #FFF , 4px 1212px #FFF , 178px 72px #FFF , 83px 1166px #FFF , 30px 1328px #FFF , 65px 1078px #FFF , 68px 1888px #FFF , 75px 1750px #FFF , 136px 308px #FFF , 63px 1468px #FFF , 72px 1321px #FFF , 55px 1777px #FFF , 248px 823px #FFF , 178px 1335px #FFF , 2px 391px #FFF , 44px 1610px #FFF , 118px 1181px #FFF , 132px 1764px #FFF , 245px 1238px #FFF , 81px 921px #FFF , 11px 1468px #FFF , 44px 1792px #FFF , 32px 1317px #FFF , 170px 353px #FFF , 142px 1360px #FFF , 95px 312px #FFF , 132px 492px #FFF , 135px 1305px #FFF , 217px 297px #FFF , 104px 1685px #FFF , 156px 423px #FFF , 42px 459px #FFF , 238px 1352px #FFF , 138px 1673px #FFF , 91px 1693px #FFF , 164px 167px #FFF , 129px 869px #FFF , 48px 1734px #FFF , 203px 1701px #FFF , 137px 1207px #FFF , 82px 1332px #FFF , 233px 1596px #FFF , 2px 1577px #FFF , 148px 558px #FFF , 201px 552px #FFF , 193px 1541px #FFF , 63px 277px #FFF , 216px 1226px #FFF , 168px 471px #FFF , 182px 1770px #FFF , 154px 247px #FFF , 197px 1096px #FFF , 15px 243px #FFF , 170px 357px #FFF , 178px 593px #FFF , 57px 1428px #FFF , 192px 119px #FFF , 46px 1610px #FFF , 49px 799px #FFF , 109px 484px #FFF , 173px 1566px #FFF , 69px 580px #FFF , 223px 403px #FFF , 93px 742px #FFF , 217px 1644px #FFF , 177px 709px #FFF , 237px 385px #FFF , 108px 434px #FFF , 72px 732px #FFF , 152px 1808px #FFF , 112px 941px #FFF , 66px 1406px #FFF , 163px 1220px #FFF , 112px 1922px #FFF , 43px 1348px #FFF , 51px 1831px #FFF , 21px 995px #FFF , 176px 1195px #FFF , 244px 54px #FFF , 150px 174px #FFF , 214px 1570px #FFF , 184px 1306px #FFF , 46px 647px #FFF , 117px 522px #FFF , 53px 296px #FFF , 114px 1219px #FFF , 198px 1425px #FFF , 14px 238px #FFF , 232px 1365px #FFF , 116px 892px #FFF , 18px 135px #FFF , 105px 1163px #FFF , 238px 284px #FFF , 166px 1213px #FFF , 76px 1390px #FFF , 99px 1794px #FFF , 14px 1808px #FFF , 143px 1712px #FFF , 34px 1767px #FFF , 47px 535px #FFF , 155px 328px #FFF , 145px 988px #FFF , 132px 783px #FFF , 174px 1456px #FFF , 248px 254px #FFF , 103px 623px #FFF , 114px 1561px #FFF , 104px 560px #FFF , 223px 1538px #FFF , 23px 1805px #FFF , 32px 568px #FFF , 138px 1600px #FFF , 222px 1530px #FFF , 82px 1334px #FFF , 196px 343px #FFF , 176px 347px #FFF , 16px 1553px #FFF , 207px 661px #FFF , 72px 593px #FFF , 110px 1209px #FFF , 227px 1807px #FFF , 146px 1671px #FFF , 90px 985px #FFF , 181px 1208px #FFF , 211px 1441px #FFF , 35px 534px #FFF , 11px 771px #FFF;
  animation: animStar 100s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 180px 1171px #FFF , 105px 975px #FFF , 46px 161px #FFF , 149px 449px #FFF , 230px 582px #FFF , 211px 57px #FFF , 215px 1571px #FFF , 128px 1845px #FFF , 246px 746px #FFF , 14px 249px #FFF , 179px 1957px #FFF , 40px 426px #FFF , 196px 1284px #FFF , 155px 898px #FFF , 231px 1789px #FFF , 205px 171px #FFF , 63px 1448px #FFF , 79px 1725px #FFF , 101px 1619px #FFF , 29px 1469px #FFF , 233px 132px #FFF , 109px 987px #FFF , 111px 511px #FFF , 154px 441px #FFF , 170px 1556px #FFF , 66px 1912px #FFF , 105px 243px #FFF , 112px 1718px #FFF , 88px 905px #FFF , 81px 654px #FFF , 246px 1381px #FFF , 14px 1457px #FFF , 121px 1993px #FFF , 31px 1502px #FFF , 215px 60px #FFF , 114px 1471px #FFF , 245px 555px #FFF , 54px 1411px #FFF , 10px 1406px #FFF , 181px 1482px #FFF , 12px 101px #FFF , 98px 509px #FFF , 181px 1108px #FFF , 80px 1238px #FFF , 39px 1634px #FFF , 12px 169px #FFF , 53px 1958px #FFF , 104px 1575px #FFF , 230px 1692px #FFF , 237px 843px #FFF , 120px 1623px #FFF , 235px 551px #FFF , 215px 222px #FFF , 242px 1539px #FFF , 86px 1902px #FFF , 15px 1740px #FFF , 212px 1560px #FFF , 234px 551px #FFF , 25px 1666px #FFF , 223px 696px #FFF , 11px 300px #FFF , 33px 1335px #FFF , 37px 1579px #FFF , 77px 362px #FFF , 64px 1144px #FFF , 60px 259px #FFF , 126px 677px #FFF , 181px 1465px #FFF , 180px 676px #FFF , 19px 1016px #FFF , 207px 1274px #FFF , 112px 386px #FFF , 116px 361px #FFF , 11px 103px #FFF , 48px 1282px #FFF , 63px 1651px #FFF , 52px 1823px #FFF , 198px 1021px #FFF , 29px 1768px #FFF , 200px 1439px #FFF , 110px 1280px #FFF , 218px 1777px #FFF , 106px 1004px #FFF , 48px 1424px #FFF , 197px 1676px #FFF , 74px 383px #FFF , 190px 1855px #FFF , 50px 146px #FFF , 58px 468px #FFF , 162px 511px #FFF , 211px 358px #FFF , 227px 544px #FFF , 92px 367px #FFF , 10px 1564px #FFF , 198px 41px #FFF , 198px 1871px #FFF , 152px 1704px #FFF , 33px 1841px #FFF , 145px 191px #FFF , 211px 701px #FFF , 233px 1910px #FFF , 111px 657px #FFF , 217px 1901px #FFF , 131px 1229px #FFF , 89px 1146px #FFF , 22px 251px #FFF , 121px 1355px #FFF , 170px 174px #FFF , 159px 440px #FFF , 182px 1431px #FFF , 18px 749px #FFF , 55px 514px #FFF , 52px 1549px #FFF , 11px 477px #FFF , 95px 274px #FFF , 119px 1065px #FFF , 84px 588px #FFF , 161px 813px #FFF , 198px 1288px #FFF , 238px 944px #FFF , 217px 1120px #FFF , 169px 1125px #FFF , 150px 1523px #FFF , 193px 411px #FFF , 33px 231px #FFF , 76px 1899px #FFF , 6px 89px #FFF , 224px 1596px #FFF , 54px 1555px #FFF , 78px 775px #FFF , 218px 1645px #FFF , 197px 1127px #FFF , 123px 805px #FFF , 230px 1651px #FFF , 28px 523px #FFF , 246px 482px #FFF , 170px 238px #FFF , 97px 824px #FFF , 4px 1645px #FFF , 93px 1271px #FFF , 113px 1399px #FFF , 121px 518px #FFF , 43px 1874px #FFF , 50px 99px #FFF , 3px 1244px #FFF , 133px 565px #FFF , 28px 1225px #FFF , 179px 1795px #FFF , 110px 1900px #FFF , 187px 1801px #FFF , 10px 913px #FFF , 118px 1939px #FFF , 188px 1209px #FFF , 126px 161px #FFF , 32px 770px #FFF , 208px 1531px #FFF , 233px 640px #FFF , 250px 669px #FFF , 166px 950px #FFF , 250px 1206px #FFF , 25px 191px #FFF , 162px 1738px #FFF , 133px 1638px #FFF , 55px 234px #FFF , 156px 1200px #FFF , 12px 660px #FFF , 219px 220px #FFF , 42px 1796px #FFF , 224px 897px #FFF , 8px 1262px #FFF , 78px 1787px #FFF , 21px 207px #FFF , 137px 77px #FFF , 151px 1022px #FFF , 52px 1550px #FFF , 66px 1937px #FFF , 138px 1360px #FFF , 204px 76px #FFF , 106px 729px #FFF , 165px 1661px #FFF , 15px 796px #FFF , 159px 1437px #FFF , 80px 1671px #FFF , 224px 1306px #FFF , 123px 513px #FFF , 158px 3px #FFF , 171px 1513px #FFF , 152px 314px #FFF , 74px 237px #FFF , 187px 706px #FFF , 245px 995px #FFF , 74px 1571px #FFF , 127px 417px #FFF , 70px 658px #FFF , 37px 874px #FFF , 157px 1323px #FFF , 10px 472px #FFF , 87px 1105px #FFF , 187px 1236px #FFF , 231px 19px #FFF , 151px 45px #FFF , 247px 362px #FFF , 55px 1286px #FFF , 206px 1519px #FFF , 78px 14px #FFF , 29px 1994px #FFF , 14px 1818px #FFF , 132px 1506px #FFF , 158px 70px #FFF , 144px 1475px #FFF , 58px 1349px #FFF , 149px 1216px #FFF , 14px 943px #FFF , 47px 1858px #FFF , 116px 1447px #FFF , 208px 1214px #FFF , 50px 5px #FFF , 181px 1638px #FFF , 100px 14px #FFF , 104px 908px #FFF , 192px 95px #FFF , 59px 36px #FFF , 5px 647px #FFF , 111px 1314px #FFF , 56px 812px #FFF , 175px 364px #FFF , 207px 93px #FFF , 24px 1675px #FFF , 121px 1911px #FFF , 88px 476px #FFF , 124px 405px #FFF , 47px 1824px #FFF , 175px 1537px #FFF , 199px 778px #FFF , 17px 480px #FFF , 91px 509px #FFF , 193px 827px #FFF , 217px 272px #FFF , 42px 1843px #FFF , 45px 611px #FFF , 246px 1472px #FFF , 246px 1056px #FFF , 224px 1216px #FFF , 112px 478px #FFF , 68px 1719px #FFF , 111px 483px #FFF , 8px 130px #FFF , 219px 1745px #FFF , 241px 261px #FFF , 244px 1048px #FFF , 85px 641px #FFF , 88px 1881px #FFF , 45px 450px #FFF , 226px 820px #FFF , 194px 12px #FFF , 88px 1995px #FFF , 115px 1116px #FFF , 244px 115px #FFF , 121px 1598px #FFF , 176px 1483px #FFF , 218px 1437px #FFF , 32px 1290px #FFF , 146px 1071px #FFF , 137px 248px #FFF , 62px 1672px #FFF , 193px 1910px #FFF , 229px 876px #FFF , 55px 1250px #FFF , 232px 1109px #FFF , 154px 661px #FFF , 181px 1051px #FFF , 109px 1674px #FFF , 79px 1457px #FFF , 185px 691px #FFF , 202px 731px #FFF , 185px 419px #FFF , 145px 212px #FFF , 14px 1497px #FFF , 43px 1672px #FFF , 138px 1825px #FFF , 236px 947px #FFF , 33px 197px #FFF , 243px 1614px #FFF , 21px 1268px #FFF , 43px 542px #FFF , 26px 212px #FFF , 218px 838px #FFF , 59px 1494px #FFF , 66px 771px #FFF , 136px 259px #FFF , 184px 52px #FFF , 188px 338px #FFF , 60px 678px #FFF , 112px 469px #FFF , 183px 1376px #FFF , 242px 24px #FFF , 25px 1014px #FFF , 118px 729px #FFF , 227px 1854px #FFF , 111px 53px #FFF , 73px 1372px #FFF , 90px 1130px #FFF , 85px 123px #FFF , 33px 871px #FFF , 17px 1228px #FFF , 209px 28px #FFF , 1px 1758px #FFF , 61px 1343px #FFF , 142px 1664px #FFF , 233px 1195px #FFF , 88px 1471px #FFF , 54px 79px #FFF , 187px 813px #FFF , 239px 784px #FFF , 7px 1165px #FFF , 124px 743px #FFF , 107px 319px #FFF , 65px 1573px #FFF , 78px 1338px #FFF , 102px 368px #FFF , 223px 558px #FFF , 232px 847px #FFF , 159px 118px #FFF , 88px 1743px #FFF , 243px 601px #FFF , 128px 1756px #FFF , 174px 853px #FFF , 114px 1138px #FFF , 182px 71px #FFF , 65px 663px #FFF , 15px 1471px #FFF , 82px 821px #FFF , 30px 623px #FFF , 198px 164px #FFF , 216px 291px #FFF , 216px 346px #FFF , 165px 1363px #FFF , 222px 529px #FFF , 66px 721px #FFF , 247px 1603px #FFF , 33px 1405px #FFF , 221px 387px #FFF , 227px 639px #FFF , 1px 1836px #FFF , 171px 548px #FFF , 201px 1913px #FFF , 59px 214px #FFF , 29px 432px #FFF , 91px 1009px #FFF , 240px 1971px #FFF , 117px 1640px #FFF , 119px 1808px #FFF , 126px 1465px #FFF , 113px 660px #FFF , 76px 408px #FFF , 41px 641px #FFF , 62px 1322px #FFF , 164px 3px #FFF , 126px 1209px #FFF , 158px 1835px #FFF , 74px 1115px #FFF , 175px 620px #FFF , 157px 23px #FFF , 21px 1048px #FFF , 134px 1126px #FFF , 88px 1337px #FFF , 61px 1980px #FFF , 10px 1735px #FFF , 221px 190px #FFF , 134px 1313px #FFF , 52px 416px #FFF , 190px 1636px #FFF , 213px 1608px #FFF , 214px 1787px #FFF , 11px 749px #FFF , 12px 1079px #FFF , 49px 1283px #FFF , 137px 1168px #FFF , 35px 156px #FFF , 210px 1989px #FFF , 106px 1839px #FFF , 56px 1243px #FFF , 26px 1584px #FFF , 210px 614px #FFF , 164px 1043px #FFF , 108px 145px #FFF , 143px 1820px #FFF , 54px 257px #FFF , 133px 1597px #FFF , 9px 921px #FFF , 11px 1880px #FFF , 35px 1118px #FFF , 35px 1421px #FFF , 214px 218px #FFF , 166px 439px #FFF , 110px 1656px #FFF , 95px 1979px #FFF , 206px 272px #FFF , 220px 418px #FFF , 29px 332px #FFF , 226px 1154px #FFF , 200px 1496px #FFF , 211px 482px #FFF , 141px 1923px #FFF , 206px 308px #FFF , 116px 825px #FFF , 179px 1689px #FFF , 112px 1959px #FFF , 194px 330px #FFF , 186px 1672px #FFF , 112px 446px #FFF , 13px 865px #FFF , 241px 43px #FFF , 161px 571px #FFF , 81px 1885px #FFF , 30px 1478px #FFF , 182px 447px #FFF , 23px 877px #FFF , 179px 1583px #FFF , 137px 1939px #FFF , 51px 1337px #FFF , 209px 1613px #FFF , 147px 1983px #FFF , 106px 1165px #FFF , 240px 340px #FFF , 135px 1370px #FFF , 20px 1228px #FFF , 179px 1481px #FFF , 172px 1478px #FFF , 136px 1489px #FFF , 227px 730px #FFF , 201px 312px #FFF , 190px 171px #FFF , 133px 379px #FFF , 240px 744px #FFF , 70px 769px #FFF , 209px 1956px #FFF , 44px 1881px #FFF , 27px 1581px #FFF , 244px 1736px #FFF , 45px 1953px #FFF , 69px 1084px #FFF , 7px 1312px #FFF , 197px 1089px #FFF , 142px 1589px #FFF , 214px 1165px #FFF , 71px 368px #FFF , 190px 1371px #FFF , 165px 1140px #FFF , 30px 118px #FFF , 30px 295px #FFF , 173px 236px #FFF , 214px 1365px #FFF , 221px 1344px #FFF , 164px 1496px #FFF , 249px 1804px #FFF , 247px 299px #FFF , 53px 50px #FFF , 198px 57px #FFF , 87px 70px #FFF , 39px 1033px #FFF , 123px 1746px #FFF , 110px 1644px #FFF , 80px 498px #FFF , 119px 1078px #FFF , 118px 723px #FFF , 178px 782px #FFF , 63px 393px #FFF , 42px 1177px #FFF , 20px 1833px #FFF , 202px 462px #FFF , 187px 339px #FFF , 79px 355px #FFF , 188px 1481px #FFF , 71px 86px #FFF , 109px 1072px #FFF , 16px 1103px #FFF , 233px 1585px #FFF , 60px 140px #FFF , 178px 1062px #FFF , 104px 489px #FFF , 187px 90px #FFF , 131px 24px #FFF , 194px 1771px #FFF , 170px 1759px #FFF , 14px 1192px #FFF , 27px 1926px #FFF , 217px 756px #FFF , 114px 733px #FFF , 31px 1587px #FFF , 14px 124px #FFF , 190px 1366px #FFF , 73px 697px #FFF , 130px 1193px #FFF , 69px 816px #FFF , 184px 1953px #FFF , 250px 1348px #FFF , 246px 162px #FFF , 171px 1973px #FFF , 215px 1371px #FFF , 94px 1114px #FFF , 180px 1907px #FFF , 217px 632px #FFF , 81px 810px #FFF , 224px 1558px #FFF , 103px 1679px #FFF , 16px 1010px #FFF , 152px 808px #FFF , 41px 1790px #FFF , 246px 1046px #FFF , 110px 1248px #FFF , 152px 1262px #FFF , 249px 1109px #FFF , 153px 1476px #FFF , 61px 873px #FFF , 124px 1013px #FFF , 64px 774px #FFF , 214px 1710px #FFF , 165px 256px #FFF , 140px 1669px #FFF , 178px 1343px #FFF , 176px 1598px #FFF , 97px 338px #FFF , 46px 1968px #FFF , 111px 722px #FFF , 205px 1235px #FFF , 13px 355px #FFF , 235px 1856px #FFF , 132px 457px #FFF , 149px 1622px #FFF , 125px 1525px #FFF , 227px 1028px #FFF , 23px 317px #FFF , 49px 1821px #FFF , 151px 1155px #FFF , 110px 519px #FFF , 246px 18px #FFF , 96px 1782px #FFF , 236px 257px #FFF , 1px 1277px #FFF , 85px 1666px #FFF , 56px 1919px #FFF , 153px 1331px #FFF , 120px 1801px #FFF , 129px 1663px #FFF , 206px 899px #FFF , 137px 1645px #FFF , 45px 1963px #FFF , 216px 785px #FFF , 161px 1881px #FFF , 62px 1076px #FFF , 176px 1110px #FFF , 215px 1435px #FFF , 136px 173px #FFF , 232px 714px #FFF , 122px 1748px #FFF , 99px 1931px #FFF , 81px 1283px #FFF , 179px 150px #FFF , 248px 449px #FFF , 217px 1904px #FFF , 171px 241px #FFF , 109px 752px #FFF , 90px 116px #FFF , 79px 1862px #FFF , 202px 1944px #FFF , 153px 1522px #FFF , 175px 901px #FFF , 173px 1794px #FFF , 111px 407px #FFF , 71px 1338px #FFF , 163px 1663px #FFF , 140px 1712px #FFF , 91px 358px #FFF , 4px 1212px #FFF , 178px 72px #FFF , 83px 1166px #FFF , 30px 1328px #FFF , 65px 1078px #FFF , 68px 1888px #FFF , 75px 1750px #FFF , 136px 308px #FFF , 63px 1468px #FFF , 72px 1321px #FFF , 55px 1777px #FFF , 248px 823px #FFF , 178px 1335px #FFF , 2px 391px #FFF , 44px 1610px #FFF , 118px 1181px #FFF , 132px 1764px #FFF , 245px 1238px #FFF , 81px 921px #FFF , 11px 1468px #FFF , 44px 1792px #FFF , 32px 1317px #FFF , 170px 353px #FFF , 142px 1360px #FFF , 95px 312px #FFF , 132px 492px #FFF , 135px 1305px #FFF , 217px 297px #FFF , 104px 1685px #FFF , 156px 423px #FFF , 42px 459px #FFF , 238px 1352px #FFF , 138px 1673px #FFF , 91px 1693px #FFF , 164px 167px #FFF , 129px 869px #FFF , 48px 1734px #FFF , 203px 1701px #FFF , 137px 1207px #FFF , 82px 1332px #FFF , 233px 1596px #FFF , 2px 1577px #FFF , 148px 558px #FFF , 201px 552px #FFF , 193px 1541px #FFF , 63px 277px #FFF , 216px 1226px #FFF , 168px 471px #FFF , 182px 1770px #FFF , 154px 247px #FFF , 197px 1096px #FFF , 15px 243px #FFF , 170px 357px #FFF , 178px 593px #FFF , 57px 1428px #FFF , 192px 119px #FFF , 46px 1610px #FFF , 49px 799px #FFF , 109px 484px #FFF , 173px 1566px #FFF , 69px 580px #FFF , 223px 403px #FFF , 93px 742px #FFF , 217px 1644px #FFF , 177px 709px #FFF , 237px 385px #FFF , 108px 434px #FFF , 72px 732px #FFF , 152px 1808px #FFF , 112px 941px #FFF , 66px 1406px #FFF , 163px 1220px #FFF , 112px 1922px #FFF , 43px 1348px #FFF , 51px 1831px #FFF , 21px 995px #FFF , 176px 1195px #FFF , 244px 54px #FFF , 150px 174px #FFF , 214px 1570px #FFF , 184px 1306px #FFF , 46px 647px #FFF , 117px 522px #FFF , 53px 296px #FFF , 114px 1219px #FFF , 198px 1425px #FFF , 14px 238px #FFF , 232px 1365px #FFF , 116px 892px #FFF , 18px 135px #FFF , 105px 1163px #FFF , 238px 284px #FFF , 166px 1213px #FFF , 76px 1390px #FFF , 99px 1794px #FFF , 14px 1808px #FFF , 143px 1712px #FFF , 34px 1767px #FFF , 47px 535px #FFF , 155px 328px #FFF , 145px 988px #FFF , 132px 783px #FFF , 174px 1456px #FFF , 248px 254px #FFF , 103px 623px #FFF , 114px 1561px #FFF , 104px 560px #FFF , 223px 1538px #FFF , 23px 1805px #FFF , 32px 568px #FFF , 138px 1600px #FFF , 222px 1530px #FFF , 82px 1334px #FFF , 196px 343px #FFF , 176px 347px #FFF , 16px 1553px #FFF , 207px 661px #FFF , 72px 593px #FFF , 110px 1209px #FFF , 227px 1807px #FFF , 146px 1671px #FFF , 90px 985px #FFF , 181px 1208px #FFF , 211px 1441px #FFF , 35px 534px #FFF , 11px 771px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 76px 1816px #FFF , 191px 359px #FFF , 55px 1617px #FFF , 130px 187px #FFF , 66px 1909px #FFF , 118px 364px #FFF , 42px 717px #FFF , 123px 1919px #FFF , 95px 1385px #FFF , 17px 585px #FFF , 218px 1257px #FFF , 39px 624px #FFF , 88px 309px #FFF , 175px 1645px #FFF , 188px 1435px #FFF , 13px 1927px #FFF , 134px 146px #FFF , 68px 833px #FFF , 111px 1774px #FFF , 130px 91px #FFF , 88px 500px #FFF , 142px 1094px #FFF , 210px 378px #FFF , 112px 1692px #FFF , 33px 1113px #FFF , 211px 722px #FFF , 24px 1298px #FFF , 154px 609px #FFF , 234px 209px #FFF , 16px 450px #FFF , 66px 823px #FFF , 153px 951px #FFF , 158px 834px #FFF , 203px 1421px #FFF , 212px 376px #FFF , 205px 1028px #FFF , 79px 1611px #FFF , 69px 1747px #FFF , 137px 1395px #FFF , 67px 1025px #FFF , 241px 603px #FFF , 103px 1174px #FFF , 52px 989px #FFF , 220px 1996px #FFF , 74px 1402px #FFF , 241px 951px #FFF , 224px 1383px #FFF , 204px 1438px #FFF , 133px 198px #FFF , 61px 370px #FFF , 15px 469px #FFF , 243px 369px #FFF , 50px 1280px #FFF , 33px 1875px #FFF , 199px 233px #FFF , 130px 299px #FFF , 169px 36px #FFF , 209px 1736px #FFF , 115px 1426px #FFF , 195px 1492px #FFF , 130px 1457px #FFF , 235px 1037px #FFF , 197px 1225px #FFF , 233px 957px #FFF , 118px 87px #FFF , 234px 1929px #FFF , 212px 1380px #FFF , 57px 1265px #FFF , 49px 139px #FFF , 244px 308px #FFF , 43px 1545px #FFF , 205px 264px #FFF , 170px 428px #FFF , 46px 1220px #FFF , 55px 567px #FFF , 196px 485px #FFF , 156px 1984px #FFF , 247px 702px #FFF , 247px 692px #FFF , 110px 662px #FFF , 36px 986px #FFF , 223px 399px #FFF , 72px 1299px #FFF , 2px 1655px #FFF , 174px 1118px #FFF , 87px 1409px #FFF , 108px 1277px #FFF , 242px 1279px #FFF , 128px 1884px #FFF , 62px 1838px #FFF , 29px 992px #FFF , 91px 1111px #FFF , 169px 1125px #FFF , 222px 420px #FFF , 240px 627px #FFF , 139px 1609px #FFF , 212px 1756px #FFF , 176px 21px #FFF , 202px 1458px #FFF , 201px 1883px #FFF , 134px 835px #FFF , 224px 1598px #FFF , 100px 123px #FFF , 87px 1255px #FFF , 119px 874px #FFF , 194px 1493px #FFF , 240px 1303px #FFF , 167px 525px #FFF , 96px 1326px #FFF , 54px 1486px #FFF , 108px 294px #FFF , 168px 251px #FFF , 62px 223px #FFF , 121px 1421px #FFF , 90px 511px #FFF , 48px 205px #FFF , 37px 1742px #FFF , 50px 1938px #FFF , 43px 488px #FFF , 79px 750px #FFF , 124px 461px #FFF , 132px 296px #FFF , 220px 1524px #FFF , 93px 1888px #FFF , 80px 1570px #FFF , 207px 1040px #FFF , 90px 588px #FFF , 218px 684px #FFF , 38px 129px #FFF , 70px 529px #FFF , 136px 1255px #FFF , 49px 379px #FFF , 197px 856px #FFF , 188px 544px #FFF , 170px 110px #FFF , 164px 1543px #FFF , 153px 1841px #FFF , 16px 1748px #FFF , 241px 1803px #FFF , 76px 1941px #FFF , 89px 1151px #FFF , 137px 486px #FFF , 229px 1805px #FFF , 60px 1579px #FFF , 203px 1268px #FFF , 111px 501px #FFF , 216px 495px #FFF , 69px 495px #FFF , 103px 1227px #FFF , 120px 1041px #FFF , 149px 1676px #FFF , 234px 481px #FFF , 84px 381px #FFF , 179px 1654px #FFF , 105px 388px #FFF , 142px 180px #FFF , 110px 277px #FFF , 84px 8px #FFF , 138px 1156px #FFF , 85px 1126px #FFF , 90px 406px #FFF , 151px 247px #FFF , 39px 817px #FFF , 115px 1286px #FFF , 134px 1608px #FFF , 62px 1842px #FFF , 122px 824px #FFF , 213px 841px #FFF , 176px 600px #FFF , 152px 825px #FFF , 52px 1688px #FFF , 110px 880px #FFF , 132px 1564px #FFF , 95px 785px #FFF , 218px 1171px #FFF , 73px 20px #FFF , 176px 1741px #FFF , 64px 1193px #FFF , 117px 623px #FFF , 43px 1418px #FFF , 110px 1333px #FFF , 243px 820px #FFF , 233px 78px #FFF , 199px 139px #FFF , 117px 1514px #FFF , 146px 453px #FFF , 96px 1042px #FFF , 229px 752px #FFF , 208px 197px #FFF , 181px 164px #FFF , 78px 163px #FFF , 153px 978px #FFF , 150px 632px #FFF , 104px 1179px #FFF , 79px 1985px #FFF , 210px 1177px #FFF , 86px 1794px #FFF , 229px 379px #FFF , 123px 1671px #FFF , 31px 1088px #FFF;
  animation: animStar 150s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 76px 1816px #FFF , 191px 359px #FFF , 55px 1617px #FFF , 130px 187px #FFF , 66px 1909px #FFF , 118px 364px #FFF , 42px 717px #FFF , 123px 1919px #FFF , 95px 1385px #FFF , 17px 585px #FFF , 218px 1257px #FFF , 39px 624px #FFF , 88px 309px #FFF , 175px 1645px #FFF , 188px 1435px #FFF , 13px 1927px #FFF , 134px 146px #FFF , 68px 833px #FFF , 111px 1774px #FFF , 130px 91px #FFF , 88px 500px #FFF , 142px 1094px #FFF , 210px 378px #FFF , 112px 1692px #FFF , 33px 1113px #FFF , 211px 722px #FFF , 24px 1298px #FFF , 154px 609px #FFF , 234px 209px #FFF , 16px 450px #FFF , 66px 823px #FFF , 153px 951px #FFF , 158px 834px #FFF , 203px 1421px #FFF , 212px 376px #FFF , 205px 1028px #FFF , 79px 1611px #FFF , 69px 1747px #FFF , 137px 1395px #FFF , 67px 1025px #FFF , 241px 603px #FFF , 103px 1174px #FFF , 52px 989px #FFF , 220px 1996px #FFF , 74px 1402px #FFF , 241px 951px #FFF , 224px 1383px #FFF , 204px 1438px #FFF , 133px 198px #FFF , 61px 370px #FFF , 15px 469px #FFF , 243px 369px #FFF , 50px 1280px #FFF , 33px 1875px #FFF , 199px 233px #FFF , 130px 299px #FFF , 169px 36px #FFF , 209px 1736px #FFF , 115px 1426px #FFF , 195px 1492px #FFF , 130px 1457px #FFF , 235px 1037px #FFF , 197px 1225px #FFF , 233px 957px #FFF , 118px 87px #FFF , 234px 1929px #FFF , 212px 1380px #FFF , 57px 1265px #FFF , 49px 139px #FFF , 244px 308px #FFF , 43px 1545px #FFF , 205px 264px #FFF , 170px 428px #FFF , 46px 1220px #FFF , 55px 567px #FFF , 196px 485px #FFF , 156px 1984px #FFF , 247px 702px #FFF , 247px 692px #FFF , 110px 662px #FFF , 36px 986px #FFF , 223px 399px #FFF , 72px 1299px #FFF , 2px 1655px #FFF , 174px 1118px #FFF , 87px 1409px #FFF , 108px 1277px #FFF , 242px 1279px #FFF , 128px 1884px #FFF , 62px 1838px #FFF , 29px 992px #FFF , 91px 1111px #FFF , 169px 1125px #FFF , 222px 420px #FFF , 240px 627px #FFF , 139px 1609px #FFF , 212px 1756px #FFF , 176px 21px #FFF , 202px 1458px #FFF , 201px 1883px #FFF , 134px 835px #FFF , 224px 1598px #FFF , 100px 123px #FFF , 87px 1255px #FFF , 119px 874px #FFF , 194px 1493px #FFF , 240px 1303px #FFF , 167px 525px #FFF , 96px 1326px #FFF , 54px 1486px #FFF , 108px 294px #FFF , 168px 251px #FFF , 62px 223px #FFF , 121px 1421px #FFF , 90px 511px #FFF , 48px 205px #FFF , 37px 1742px #FFF , 50px 1938px #FFF , 43px 488px #FFF , 79px 750px #FFF , 124px 461px #FFF , 132px 296px #FFF , 220px 1524px #FFF , 93px 1888px #FFF , 80px 1570px #FFF , 207px 1040px #FFF , 90px 588px #FFF , 218px 684px #FFF , 38px 129px #FFF , 70px 529px #FFF , 136px 1255px #FFF , 49px 379px #FFF , 197px 856px #FFF , 188px 544px #FFF , 170px 110px #FFF , 164px 1543px #FFF , 153px 1841px #FFF , 16px 1748px #FFF , 241px 1803px #FFF , 76px 1941px #FFF , 89px 1151px #FFF , 137px 486px #FFF , 229px 1805px #FFF , 60px 1579px #FFF , 203px 1268px #FFF , 111px 501px #FFF , 216px 495px #FFF , 69px 495px #FFF , 103px 1227px #FFF , 120px 1041px #FFF , 149px 1676px #FFF , 234px 481px #FFF , 84px 381px #FFF , 179px 1654px #FFF , 105px 388px #FFF , 142px 180px #FFF , 110px 277px #FFF , 84px 8px #FFF , 138px 1156px #FFF , 85px 1126px #FFF , 90px 406px #FFF , 151px 247px #FFF , 39px 817px #FFF , 115px 1286px #FFF , 134px 1608px #FFF , 62px 1842px #FFF , 122px 824px #FFF , 213px 841px #FFF , 176px 600px #FFF , 152px 825px #FFF , 52px 1688px #FFF , 110px 880px #FFF , 132px 1564px #FFF , 95px 785px #FFF , 218px 1171px #FFF , 73px 20px #FFF , 176px 1741px #FFF , 64px 1193px #FFF , 117px 623px #FFF , 43px 1418px #FFF , 110px 1333px #FFF , 243px 820px #FFF , 233px 78px #FFF , 199px 139px #FFF , 117px 1514px #FFF , 146px 453px #FFF , 96px 1042px #FFF , 229px 752px #FFF , 208px 197px #FFF , 181px 164px #FFF , 78px 163px #FFF , 153px 978px #FFF , 150px 632px #FFF , 104px 1179px #FFF , 79px 1985px #FFF , 210px 1177px #FFF , 86px 1794px #FFF , 229px 379px #FFF , 123px 1671px #FFF , 31px 1088px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 34px 1649px #FFF , 164px 627px #FFF , 161px 1862px #FFF , 10px 460px #FFF , 33px 1532px #FFF , 54px 591px #FFF , 11px 1087px #FFF , 246px 1312px #FFF , 141px 701px #FFF , 239px 411px #FFF , 78px 335px #FFF , 147px 1062px #FFF , 81px 1062px #FFF , 63px 466px #FFF , 162px 771px #FFF , 130px 1337px #FFF , 190px 151px #FFF , 37px 1830px #FFF , 122px 1443px #FFF , 185px 856px #FFF , 128px 616px #FFF , 242px 1222px #FFF , 13px 63px #FFF , 94px 1386px #FFF , 141px 1006px #FFF , 153px 1346px #FFF , 149px 1678px #FFF , 228px 881px #FFF , 108px 811px #FFF , 241px 1401px #FFF , 16px 1602px #FFF , 142px 395px #FFF , 228px 1278px #FFF , 44px 745px #FFF , 159px 687px #FFF , 207px 1360px #FFF , 205px 1684px #FFF , 232px 1833px #FFF , 92px 1192px #FFF , 215px 1519px #FFF , 32px 479px #FFF , 28px 863px #FFF , 28px 365px #FFF , 162px 1623px #FFF , 35px 650px #FFF , 209px 665px #FFF , 119px 13px #FFF , 14px 231px #FFF , 166px 1538px #FFF , 188px 295px #FFF , 46px 601px #FFF , 115px 125px #FFF , 106px 799px #FFF , 35px 1182px #FFF , 215px 1929px #FFF , 212px 1975px #FFF , 204px 1836px #FFF , 168px 340px #FFF , 53px 1127px #FFF , 101px 1465px #FFF , 14px 71px #FFF , 178px 850px #FFF , 14px 428px #FFF , 181px 725px #FFF , 38px 1638px #FFF , 91px 15px #FFF , 41px 180px #FFF , 5px 369px #FFF , 178px 218px #FFF , 112px 814px #FFF , 103px 354px #FFF , 41px 1598px #FFF , 232px 1909px #FFF , 96px 1765px #FFF , 144px 1102px #FFF , 169px 127px #FFF , 218px 1113px #FFF , 180px 2000px #FFF , 144px 1117px #FFF , 97px 988px #FFF , 134px 460px #FFF , 239px 1412px #FFF , 48px 373px #FFF , 246px 1301px #FFF , 117px 1259px #FFF , 231px 1711px #FFF , 202px 522px #FFF , 176px 1185px #FFF , 140px 1614px #FFF , 19px 1166px #FFF , 64px 453px #FFF , 139px 283px #FFF , 186px 1433px #FFF , 71px 407px #FFF , 201px 1981px #FFF , 71px 7px #FFF , 147px 635px #FFF , 179px 965px #FFF , 237px 575px #FFF , 110px 1771px #FFF;
  animation: animStar 200s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 34px 1649px #FFF , 164px 627px #FFF , 161px 1862px #FFF , 10px 460px #FFF , 33px 1532px #FFF , 54px 591px #FFF , 11px 1087px #FFF , 246px 1312px #FFF , 141px 701px #FFF , 239px 411px #FFF , 78px 335px #FFF , 147px 1062px #FFF , 81px 1062px #FFF , 63px 466px #FFF , 162px 771px #FFF , 130px 1337px #FFF , 190px 151px #FFF , 37px 1830px #FFF , 122px 1443px #FFF , 185px 856px #FFF , 128px 616px #FFF , 242px 1222px #FFF , 13px 63px #FFF , 94px 1386px #FFF , 141px 1006px #FFF , 153px 1346px #FFF , 149px 1678px #FFF , 228px 881px #FFF , 108px 811px #FFF , 241px 1401px #FFF , 16px 1602px #FFF , 142px 395px #FFF , 228px 1278px #FFF , 44px 745px #FFF , 159px 687px #FFF , 207px 1360px #FFF , 205px 1684px #FFF , 232px 1833px #FFF , 92px 1192px #FFF , 215px 1519px #FFF , 32px 479px #FFF , 28px 863px #FFF , 28px 365px #FFF , 162px 1623px #FFF , 35px 650px #FFF , 209px 665px #FFF , 119px 13px #FFF , 14px 231px #FFF , 166px 1538px #FFF , 188px 295px #FFF , 46px 601px #FFF , 115px 125px #FFF , 106px 799px #FFF , 35px 1182px #FFF , 215px 1929px #FFF , 212px 1975px #FFF , 204px 1836px #FFF , 168px 340px #FFF , 53px 1127px #FFF , 101px 1465px #FFF , 14px 71px #FFF , 178px 850px #FFF , 14px 428px #FFF , 181px 725px #FFF , 38px 1638px #FFF , 91px 15px #FFF , 41px 180px #FFF , 5px 369px #FFF , 178px 218px #FFF , 112px 814px #FFF , 103px 354px #FFF , 41px 1598px #FFF , 232px 1909px #FFF , 96px 1765px #FFF , 144px 1102px #FFF , 169px 127px #FFF , 218px 1113px #FFF , 180px 2000px #FFF , 144px 1117px #FFF , 97px 988px #FFF , 134px 460px #FFF , 239px 1412px #FFF , 48px 373px #FFF , 246px 1301px #FFF , 117px 1259px #FFF , 231px 1711px #FFF , 202px 522px #FFF , 176px 1185px #FFF , 140px 1614px #FFF , 19px 1166px #FFF , 64px 453px #FFF , 139px 283px #FFF , 186px 1433px #FFF , 71px 407px #FFF , 201px 1981px #FFF , 71px 7px #FFF , 147px 635px #FFF , 179px 965px #FFF , 237px 575px #FFF , 110px 1771px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  height: 100%; }

body {
  position: relative;
  height: 100%;
  background-image: url("./../assets/Images/Body-Background.png");
  background-size: cover; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: #FDFDCB;
  text-decoration: underline; }

h2 {
  color: white;
  font-family: "PT";
  margin: 0;
  font-weight: normal; }

input[type=text], input[type=password], textarea {
  background-color: #05162a;
  border: 0px solid #4494b8;
  margin: 5px; }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-width: 1px; }

table {
  border: 1px solid #05162a;
  border-collapse: collapse; }
  table tr:first-child {
    color: white;
    font-size: 16px; }
  table td {
    border: 1px solid #05162a;
    border-collapse: collapse;
    padding: 5px; }

/**
 * Basic styles for links
 
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}*/
@font-face {
  font-family: PT;
  src: url("./../assets/Fonts/PT_Sans-Web-Regular.ttf"); }
/**
 * Basic typography style for copy text
 */
body {
  color: #cccccc;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  min-height: 550px;
  border-right: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8;
    /*#title
    {
        color: $text-high-color;
        font-family: $title-font-stack;
        font-size: nth($font-size, 1)+10px;

        margin: 10px;
        margin-top: 5px;
    }*/ }
  header::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 249px;
    height: 144px;
    background-image: url("./../assets/Images/Avatar.png"); }
  header .banner {
    margin: auto;
    margin-top: -10px;
    z-index: 100;
    opacity: 1;
    width: 86.25px;
    height: 23.20359%; }
  header #menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    margin: auto; }
    header #menu .button-menu {
      display: block;
      width: 90%;
      margin-top: 20px; }

.content {
  margin-left: 250px;
  padding: 50px; }

.articles {
  display: block;
  width: 100%;
  height: 100%; }
  .articles .panel {
    z-index: 1; }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: -1;
  text-align: right;
  color: white;
  font-size: 12px; }

p.important {
  background-color: #05162a;
  color: white; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte
  =======================================*/
.panel {
  background-color: #081a32;
  color: #cccccc;
  padding: 15px;
  padding-top: 55px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8; }
  .panel:before {
    font-size: 25px;
    color: white;
    content: attr(title);
    position: absolute;
    padding: 15px;
    padding-top: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #4494b8; }
  .panel:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./../assets/Images/Div-Top.png");
    background-size: auto 100%;
    width: 100%;
    height: 6px; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte et pr├®sentant un article
  =======================================*/
.panel-article {
  padding-bottom: 30px; }
  .panel-article .author {
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .panel-article .date {
    position: absolute;
    right: 10px;
    top: 10px; }
  .panel-article .click {
    display: block;
    width: 100%;
    text-align: center; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte et pr├®sentant des commentaires
  =======================================*/
.panel-comments {
  width: 80%;
  margin: auto; }

.banner {
  display: block;
  position: relative;
  width: 69px;
  height: 152px;
  z-index: 1;
  background-image: url("./../assets/Images/Banner.png");
  background-size: 100% 100%; }
  .banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/Images/freedom-dove.svg");
    background-position: center 60%;
    background-repeat: no-repeat; }

/*=======================================
  D├®finition des composant bouton
  =======================================*/
/*--------------------------------------
Composant bouton de menu
---------------------------------------*/
.button-menu {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  background-color: #0a4e76;
  overflow: hidden;
  transition: all 0.5s ease;
  box-sizing: content-box; }
  .button-menu.index {
    background-image: url("./../assets/Images/steel-door.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.tech {
    background-image: url("./../assets/Images/arrow-scope.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.gallery {
    background-image: url("./../assets/Images/eagle-emblem.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu:hover {
    box-shadow: 5px 5px 5px black;
    top: -5px;
    left: -5px;
    background-color: #4494b8; }

/*--------------------------------------
Composant bouton de base
---------------------------------------*/
.button-base, input[type=submit] {
  cursor: pointer;
  z-index: 3;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  overflow: hidden;
  transition: all 0.25s ease; }
  .button-base:before, input[type=submit]:before {
    z-index: -1;
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4494b8;
    opacity: 0.7;
    transition: all 0.25s ease; }
  .button-base:hover, input[type=submit]:hover {
    box-shadow: 0px 0px 1px #4494b8; }
    .button-base:hover:before, input[type=submit]:hover:before {
      top: 0; }

/*--------------------------------------
Composant bouton de base appliqu├® au bouton d'envoi de formulaire
---------------------------------------*/
input[type=submit] {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px; }

.login {
  width: 70%;
  margin: auto;
  text-align: center; }
  .login:before {
    position: relative;
    width: 100%;
    height: 100%;
    content: " "; }
  .login input[type=submit] {
    width: 100px;
    margin: auto;
    margin-top: 10px; }

.administration-index {
  width: 70%;
  margin: auto; }

.administration-article input[type=text], .administration-article textarea {
  width: 100%; }
.administration-article input[type=submit] {
  display: block;
  width: 100px;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
