@charset "UTF-8";
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 190px 1263px #FFF , 198px 1443px #FFF , 179px 560px #FFF , 233px 1876px #FFF , 131px 956px #FFF , 144px 831px #FFF , 145px 1130px #FFF , 190px 176px #FFF , 5px 1243px #FFF , 197px 1735px #FFF , 208px 366px #FFF , 60px 158px #FFF , 135px 1391px #FFF , 39px 949px #FFF , 117px 1135px #FFF , 24px 573px #FFF , 46px 1090px #FFF , 85px 1899px #FFF , 103px 659px #FFF , 72px 1854px #FFF , 51px 1438px #FFF , 17px 1708px #FFF , 180px 1419px #FFF , 140px 192px #FFF , 162px 1525px #FFF , 236px 406px #FFF , 214px 472px #FFF , 210px 1881px #FFF , 202px 622px #FFF , 156px 212px #FFF , 174px 1542px #FFF , 105px 225px #FFF , 221px 667px #FFF , 154px 1233px #FFF , 46px 702px #FFF , 57px 1651px #FFF , 134px 981px #FFF , 147px 988px #FFF , 114px 40px #FFF , 36px 695px #FFF , 245px 872px #FFF , 71px 820px #FFF , 136px 1933px #FFF , 26px 684px #FFF , 58px 933px #FFF , 27px 703px #FFF , 167px 1807px #FFF , 89px 1780px #FFF , 140px 931px #FFF , 206px 578px #FFF , 194px 1180px #FFF , 208px 767px #FFF , 222px 369px #FFF , 121px 918px #FFF , 206px 165px #FFF , 100px 1886px #FFF , 84px 1191px #FFF , 3px 739px #FFF , 159px 1998px #FFF , 197px 1487px #FFF , 1px 801px #FFF , 82px 1979px #FFF , 164px 1912px #FFF , 216px 1716px #FFF , 138px 1830px #FFF , 154px 886px #FFF , 161px 868px #FFF , 161px 703px #FFF , 230px 20px #FFF , 167px 1533px #FFF , 218px 1278px #FFF , 220px 603px #FFF , 15px 1581px #FFF , 17px 1469px #FFF , 87px 828px #FFF , 54px 1225px #FFF , 130px 873px #FFF , 129px 57px #FFF , 233px 559px #FFF , 104px 456px #FFF , 151px 1017px #FFF , 75px 47px #FFF , 229px 106px #FFF , 185px 1953px #FFF , 72px 1906px #FFF , 40px 1496px #FFF , 34px 1827px #FFF , 224px 260px #FFF , 85px 783px #FFF , 216px 1379px #FFF , 242px 1375px #FFF , 54px 924px #FFF , 82px 293px #FFF , 214px 1362px #FFF , 176px 1959px #FFF , 243px 429px #FFF , 70px 1059px #FFF , 77px 310px #FFF , 184px 305px #FFF , 192px 1445px #FFF , 181px 349px #FFF , 236px 1124px #FFF , 33px 1528px #FFF , 72px 1310px #FFF , 123px 1954px #FFF , 11px 633px #FFF , 94px 1992px #FFF , 33px 1029px #FFF , 82px 370px #FFF , 63px 748px #FFF , 236px 23px #FFF , 29px 1192px #FFF , 191px 1162px #FFF , 220px 1504px #FFF , 17px 1287px #FFF , 51px 594px #FFF , 135px 1012px #FFF , 142px 1967px #FFF , 95px 1956px #FFF , 75px 1402px #FFF , 48px 124px #FFF , 60px 1481px #FFF , 162px 1015px #FFF , 233px 1630px #FFF , 68px 809px #FFF , 208px 230px #FFF , 82px 94px #FFF , 55px 1349px #FFF , 225px 809px #FFF , 11px 966px #FFF , 181px 756px #FFF , 81px 1905px #FFF , 238px 203px #FFF , 111px 1475px #FFF , 111px 1075px #FFF , 2px 1358px #FFF , 149px 840px #FFF , 233px 198px #FFF , 228px 1825px #FFF , 3px 852px #FFF , 113px 997px #FFF , 137px 1159px #FFF , 96px 876px #FFF , 80px 1437px #FFF , 142px 734px #FFF , 14px 1174px #FFF , 79px 40px #FFF , 170px 1870px #FFF , 74px 1521px #FFF , 248px 197px #FFF , 133px 1731px #FFF , 29px 1885px #FFF , 166px 1720px #FFF , 177px 998px #FFF , 15px 1713px #FFF , 204px 1613px #FFF , 167px 1498px #FFF , 94px 1977px #FFF , 90px 1461px #FFF , 126px 1486px #FFF , 63px 1225px #FFF , 84px 290px #FFF , 110px 321px #FFF , 138px 846px #FFF , 200px 1557px #FFF , 96px 883px #FFF , 42px 1949px #FFF , 33px 1880px #FFF , 88px 1607px #FFF , 35px 56px #FFF , 215px 451px #FFF , 22px 343px #FFF , 121px 1167px #FFF , 65px 68px #FFF , 70px 286px #FFF , 159px 1587px #FFF , 43px 385px #FFF , 202px 63px #FFF , 137px 1882px #FFF , 208px 112px #FFF , 144px 1106px #FFF , 180px 954px #FFF , 229px 1947px #FFF , 116px 515px #FFF , 73px 1204px #FFF , 179px 2px #FFF , 47px 981px #FFF , 93px 170px #FFF , 175px 400px #FFF , 192px 1688px #FFF , 97px 1463px #FFF , 77px 433px #FFF , 14px 441px #FFF , 201px 1633px #FFF , 48px 1015px #FFF , 42px 1351px #FFF , 244px 1458px #FFF , 145px 924px #FFF , 215px 1102px #FFF , 207px 1408px #FFF , 235px 813px #FFF , 93px 1186px #FFF , 154px 380px #FFF , 117px 1205px #FFF , 20px 1534px #FFF , 235px 1904px #FFF , 103px 1731px #FFF , 172px 368px #FFF , 117px 354px #FFF , 129px 255px #FFF , 178px 871px #FFF , 78px 68px #FFF , 217px 565px #FFF , 192px 304px #FFF , 148px 1584px #FFF , 173px 1319px #FFF , 51px 1544px #FFF , 108px 1981px #FFF , 8px 995px #FFF , 57px 679px #FFF , 202px 4px #FFF , 160px 1521px #FFF , 189px 1966px #FFF , 162px 263px #FFF , 92px 1503px #FFF , 50px 110px #FFF , 64px 255px #FFF , 98px 1008px #FFF , 210px 311px #FFF , 159px 1818px #FFF , 171px 1827px #FFF , 130px 523px #FFF , 10px 1839px #FFF , 124px 903px #FFF , 172px 608px #FFF , 113px 846px #FFF , 117px 296px #FFF , 63px 490px #FFF , 164px 1035px #FFF , 165px 472px #FFF , 122px 863px #FFF , 69px 848px #FFF , 31px 716px #FFF , 224px 706px #FFF , 32px 4px #FFF , 61px 460px #FFF , 120px 1268px #FFF , 224px 514px #FFF , 199px 705px #FFF , 10px 1040px #FFF , 78px 373px #FFF , 64px 889px #FFF , 69px 1837px #FFF , 223px 928px #FFF , 228px 1271px #FFF , 218px 1331px #FFF , 96px 1631px #FFF , 177px 1513px #FFF , 230px 299px #FFF , 194px 1862px #FFF , 67px 1269px #FFF , 118px 1419px #FFF , 155px 118px #FFF , 101px 1078px #FFF , 169px 905px #FFF , 81px 1397px #FFF , 237px 1024px #FFF , 222px 952px #FFF , 126px 980px #FFF , 123px 170px #FFF , 171px 409px #FFF , 185px 1495px #FFF , 17px 1523px #FFF , 174px 1192px #FFF , 6px 1371px #FFF , 145px 1375px #FFF , 16px 1038px #FFF , 106px 1443px #FFF , 210px 927px #FFF , 39px 143px #FFF , 240px 1601px #FFF , 42px 706px #FFF , 134px 1364px #FFF , 52px 231px #FFF , 36px 1905px #FFF , 172px 485px #FFF , 27px 772px #FFF , 117px 1015px #FFF , 76px 1091px #FFF , 152px 157px #FFF , 32px 11px #FFF , 40px 644px #FFF , 42px 1981px #FFF , 169px 924px #FFF , 83px 1074px #FFF , 177px 1170px #FFF , 148px 1947px #FFF , 80px 640px #FFF , 66px 224px #FFF , 166px 605px #FFF , 16px 1466px #FFF , 123px 1400px #FFF , 7px 274px #FFF , 104px 1108px #FFF , 40px 1993px #FFF , 141px 765px #FFF , 234px 1727px #FFF , 68px 548px #FFF , 1px 1682px #FFF , 241px 375px #FFF , 16px 1214px #FFF , 186px 991px #FFF , 46px 416px #FFF , 89px 1698px #FFF , 84px 1634px #FFF , 205px 468px #FFF , 240px 1058px #FFF , 185px 420px #FFF , 196px 635px #FFF , 12px 45px #FFF , 171px 1628px #FFF , 200px 1563px #FFF , 186px 890px #FFF , 199px 1390px #FFF , 112px 1879px #FFF , 35px 177px #FFF , 57px 440px #FFF , 56px 1173px #FFF , 152px 1598px #FFF , 167px 132px #FFF , 203px 1580px #FFF , 65px 438px #FFF , 243px 1364px #FFF , 162px 615px #FFF , 26px 1244px #FFF , 196px 963px #FFF , 227px 1612px #FFF , 214px 1502px #FFF , 250px 72px #FFF , 138px 856px #FFF , 237px 202px #FFF , 250px 918px #FFF , 154px 4px #FFF , 63px 1194px #FFF , 118px 1064px #FFF , 3px 765px #FFF , 214px 1129px #FFF , 11px 795px #FFF , 28px 1766px #FFF , 124px 819px #FFF , 180px 1855px #FFF , 120px 1342px #FFF , 11px 282px #FFF , 49px 1206px #FFF , 239px 789px #FFF , 9px 109px #FFF , 46px 1194px #FFF , 146px 412px #FFF , 240px 47px #FFF , 218px 1938px #FFF , 34px 1392px #FFF , 226px 525px #FFF , 54px 1614px #FFF , 250px 1766px #FFF , 190px 210px #FFF , 61px 1667px #FFF , 244px 1862px #FFF , 101px 161px #FFF , 133px 325px #FFF , 23px 1224px #FFF , 111px 1814px #FFF , 70px 24px #FFF , 189px 1102px #FFF , 114px 1193px #FFF , 185px 763px #FFF , 62px 667px #FFF , 56px 1655px #FFF , 3px 567px #FFF , 116px 491px #FFF , 26px 1605px #FFF , 180px 1975px #FFF , 234px 1150px #FFF , 210px 1313px #FFF , 146px 843px #FFF , 37px 1070px #FFF , 114px 1501px #FFF , 45px 1264px #FFF , 10px 255px #FFF , 184px 1542px #FFF , 94px 1294px #FFF , 63px 833px #FFF , 8px 791px #FFF , 92px 450px #FFF , 36px 891px #FFF , 180px 347px #FFF , 182px 613px #FFF , 168px 460px #FFF , 131px 992px #FFF , 158px 1619px #FFF , 141px 1429px #FFF , 241px 1458px #FFF , 178px 921px #FFF , 137px 80px #FFF , 79px 649px #FFF , 1px 756px #FFF , 125px 959px #FFF , 212px 559px #FFF , 37px 1934px #FFF , 201px 1296px #FFF , 54px 188px #FFF , 72px 353px #FFF , 158px 386px #FFF , 140px 341px #FFF , 79px 990px #FFF , 204px 1191px #FFF , 63px 1021px #FFF , 166px 346px #FFF , 235px 77px #FFF , 195px 115px #FFF , 114px 1294px #FFF , 80px 1394px #FFF , 24px 1420px #FFF , 173px 1534px #FFF , 74px 159px #FFF , 209px 403px #FFF , 113px 1885px #FFF , 199px 555px #FFF , 213px 1025px #FFF , 91px 967px #FFF , 25px 253px #FFF , 94px 135px #FFF , 174px 319px #FFF , 32px 1503px #FFF , 187px 1496px #FFF , 131px 1738px #FFF , 215px 1253px #FFF , 204px 645px #FFF , 133px 1690px #FFF , 211px 533px #FFF , 9px 5px #FFF , 83px 883px #FFF , 166px 1318px #FFF , 105px 1989px #FFF , 98px 365px #FFF , 81px 998px #FFF , 19px 654px #FFF , 232px 126px #FFF , 83px 1121px #FFF , 234px 412px #FFF , 122px 311px #FFF , 237px 1271px #FFF , 129px 178px #FFF , 89px 338px #FFF , 142px 1814px #FFF , 69px 141px #FFF , 23px 1374px #FFF , 110px 116px #FFF , 52px 60px #FFF , 134px 1608px #FFF , 61px 1238px #FFF , 156px 1485px #FFF , 162px 832px #FFF , 186px 1204px #FFF , 169px 1373px #FFF , 25px 397px #FFF , 106px 1497px #FFF , 31px 180px #FFF , 98px 558px #FFF , 22px 1214px #FFF , 101px 1331px #FFF , 134px 1921px #FFF , 147px 1585px #FFF , 35px 50px #FFF , 108px 766px #FFF , 102px 482px #FFF , 244px 557px #FFF , 187px 1979px #FFF , 20px 735px #FFF , 112px 1843px #FFF , 28px 961px #FFF , 42px 758px #FFF , 29px 1744px #FFF , 122px 81px #FFF , 180px 1362px #FFF , 114px 973px #FFF , 116px 1100px #FFF , 101px 1887px #FFF , 30px 1754px #FFF , 99px 471px #FFF , 176px 743px #FFF , 25px 1822px #FFF , 83px 250px #FFF , 143px 1226px #FFF , 145px 1212px #FFF , 164px 143px #FFF , 94px 1967px #FFF , 40px 1471px #FFF , 149px 444px #FFF , 63px 1350px #FFF , 70px 1007px #FFF , 204px 1718px #FFF , 184px 467px #FFF , 28px 759px #FFF , 47px 1329px #FFF , 22px 258px #FFF , 49px 721px #FFF , 207px 268px #FFF , 227px 1902px #FFF , 13px 1302px #FFF , 118px 1794px #FFF , 25px 1389px #FFF , 132px 1640px #FFF , 156px 993px #FFF , 249px 1094px #FFF , 60px 1207px #FFF , 154px 486px #FFF , 223px 1813px #FFF , 23px 352px #FFF , 53px 1652px #FFF , 216px 1883px #FFF , 247px 185px #FFF , 7px 1468px #FFF , 248px 180px #FFF , 59px 1265px #FFF , 64px 767px #FFF , 132px 408px #FFF , 116px 169px #FFF , 131px 638px #FFF , 110px 1666px #FFF , 190px 1773px #FFF , 107px 1357px #FFF , 52px 1888px #FFF , 143px 1985px #FFF , 247px 920px #FFF , 136px 811px #FFF , 40px 666px #FFF , 18px 1977px #FFF , 138px 497px #FFF , 73px 864px #FFF , 216px 1398px #FFF , 240px 87px #FFF , 108px 1936px #FFF , 118px 1669px #FFF , 214px 1371px #FFF , 64px 1649px #FFF , 47px 835px #FFF , 172px 494px #FFF , 135px 1364px #FFF , 142px 1470px #FFF , 154px 1529px #FFF , 12px 945px #FFF , 249px 774px #FFF , 71px 146px #FFF , 113px 500px #FFF , 83px 470px #FFF , 120px 508px #FFF , 57px 321px #FFF , 93px 224px #FFF , 41px 666px #FFF , 144px 240px #FFF , 24px 1220px #FFF , 209px 308px #FFF , 117px 1237px #FFF , 1px 968px #FFF , 154px 1662px #FFF , 34px 43px #FFF , 203px 136px #FFF , 142px 1922px #FFF , 73px 1015px #FFF , 100px 1670px #FFF , 179px 1200px #FFF , 102px 1629px #FFF , 74px 674px #FFF , 78px 1624px #FFF , 82px 237px #FFF , 106px 1452px #FFF , 196px 577px #FFF , 74px 586px #FFF , 191px 1521px #FFF , 130px 946px #FFF , 10px 520px #FFF , 88px 1338px #FFF , 35px 1269px #FFF , 218px 348px #FFF , 33px 1327px #FFF , 11px 452px #FFF , 207px 1680px #FFF , 50px 544px #FFF , 148px 1137px #FFF , 139px 1064px #FFF , 156px 1459px #FFF , 223px 1212px #FFF , 59px 505px #FFF , 157px 1151px #FFF , 37px 1493px #FFF , 156px 566px #FFF , 70px 85px #FFF , 240px 520px #FFF , 243px 630px #FFF , 38px 1897px #FFF , 151px 1187px #FFF , 65px 768px #FFF , 228px 1594px #FFF , 233px 1612px #FFF , 67px 689px #FFF , 131px 1637px #FFF , 194px 1591px #FFF , 247px 1251px #FFF , 96px 638px #FFF , 171px 1660px #FFF , 33px 119px #FFF , 109px 241px #FFF , 57px 1433px #FFF , 42px 845px #FFF , 54px 683px #FFF , 74px 16px #FFF , 89px 1686px #FFF , 81px 99px #FFF , 177px 691px #FFF , 44px 481px #FFF , 56px 539px #FFF , 1px 248px #FFF , 71px 1440px #FFF , 52px 658px #FFF , 202px 1494px #FFF , 153px 1584px #FFF , 26px 1028px #FFF , 13px 1348px #FFF , 167px 760px #FFF , 236px 186px #FFF , 49px 355px #FFF , 62px 1574px #FFF , 86px 460px #FFF , 113px 69px #FFF , 125px 805px #FFF , 8px 1803px #FFF , 91px 760px #FFF , 173px 765px #FFF , 104px 449px #FFF , 135px 453px #FFF , 145px 40px #FFF , 143px 34px #FFF , 178px 445px #FFF , 94px 475px #FFF , 165px 883px #FFF , 12px 1528px #FFF , 234px 46px #FFF , 52px 1385px #FFF , 147px 873px #FFF , 78px 1702px #FFF , 190px 239px #FFF , 69px 101px #FFF , 110px 1025px #FFF , 57px 1263px #FFF , 237px 605px #FFF , 15px 510px #FFF , 103px 1324px #FFF , 195px 1921px #FFF , 176px 366px #FFF , 72px 1624px #FFF , 142px 1966px #FFF , 227px 173px #FFF , 43px 476px #FFF , 79px 1884px #FFF , 116px 471px #FFF , 67px 1487px #FFF , 17px 218px #FFF , 201px 1663px #FFF , 193px 1966px #FFF , 201px 1269px #FFF , 197px 1716px #FFF , 156px 1648px #FFF , 77px 1201px #FFF , 188px 533px #FFF , 112px 426px #FFF , 102px 1790px #FFF , 160px 1163px #FFF , 34px 754px #FFF , 141px 690px #FFF , 164px 1462px #FFF , 195px 58px #FFF , 3px 1058px #FFF , 1px 1921px #FFF , 6px 721px #FFF , 45px 1867px #FFF , 2px 1870px #FFF , 34px 970px #FFF , 143px 1251px #FFF , 132px 1983px #FFF , 156px 627px #FFF , 115px 1560px #FFF , 87px 1834px #FFF , 87px 1028px #FFF , 13px 1225px #FFF , 145px 810px #FFF , 113px 1679px #FFF , 27px 1539px #FFF , 175px 909px #FFF , 133px 1005px #FFF , 185px 346px #FFF;
  animation: animStar 100s linear infinite; }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 190px 1263px #FFF , 198px 1443px #FFF , 179px 560px #FFF , 233px 1876px #FFF , 131px 956px #FFF , 144px 831px #FFF , 145px 1130px #FFF , 190px 176px #FFF , 5px 1243px #FFF , 197px 1735px #FFF , 208px 366px #FFF , 60px 158px #FFF , 135px 1391px #FFF , 39px 949px #FFF , 117px 1135px #FFF , 24px 573px #FFF , 46px 1090px #FFF , 85px 1899px #FFF , 103px 659px #FFF , 72px 1854px #FFF , 51px 1438px #FFF , 17px 1708px #FFF , 180px 1419px #FFF , 140px 192px #FFF , 162px 1525px #FFF , 236px 406px #FFF , 214px 472px #FFF , 210px 1881px #FFF , 202px 622px #FFF , 156px 212px #FFF , 174px 1542px #FFF , 105px 225px #FFF , 221px 667px #FFF , 154px 1233px #FFF , 46px 702px #FFF , 57px 1651px #FFF , 134px 981px #FFF , 147px 988px #FFF , 114px 40px #FFF , 36px 695px #FFF , 245px 872px #FFF , 71px 820px #FFF , 136px 1933px #FFF , 26px 684px #FFF , 58px 933px #FFF , 27px 703px #FFF , 167px 1807px #FFF , 89px 1780px #FFF , 140px 931px #FFF , 206px 578px #FFF , 194px 1180px #FFF , 208px 767px #FFF , 222px 369px #FFF , 121px 918px #FFF , 206px 165px #FFF , 100px 1886px #FFF , 84px 1191px #FFF , 3px 739px #FFF , 159px 1998px #FFF , 197px 1487px #FFF , 1px 801px #FFF , 82px 1979px #FFF , 164px 1912px #FFF , 216px 1716px #FFF , 138px 1830px #FFF , 154px 886px #FFF , 161px 868px #FFF , 161px 703px #FFF , 230px 20px #FFF , 167px 1533px #FFF , 218px 1278px #FFF , 220px 603px #FFF , 15px 1581px #FFF , 17px 1469px #FFF , 87px 828px #FFF , 54px 1225px #FFF , 130px 873px #FFF , 129px 57px #FFF , 233px 559px #FFF , 104px 456px #FFF , 151px 1017px #FFF , 75px 47px #FFF , 229px 106px #FFF , 185px 1953px #FFF , 72px 1906px #FFF , 40px 1496px #FFF , 34px 1827px #FFF , 224px 260px #FFF , 85px 783px #FFF , 216px 1379px #FFF , 242px 1375px #FFF , 54px 924px #FFF , 82px 293px #FFF , 214px 1362px #FFF , 176px 1959px #FFF , 243px 429px #FFF , 70px 1059px #FFF , 77px 310px #FFF , 184px 305px #FFF , 192px 1445px #FFF , 181px 349px #FFF , 236px 1124px #FFF , 33px 1528px #FFF , 72px 1310px #FFF , 123px 1954px #FFF , 11px 633px #FFF , 94px 1992px #FFF , 33px 1029px #FFF , 82px 370px #FFF , 63px 748px #FFF , 236px 23px #FFF , 29px 1192px #FFF , 191px 1162px #FFF , 220px 1504px #FFF , 17px 1287px #FFF , 51px 594px #FFF , 135px 1012px #FFF , 142px 1967px #FFF , 95px 1956px #FFF , 75px 1402px #FFF , 48px 124px #FFF , 60px 1481px #FFF , 162px 1015px #FFF , 233px 1630px #FFF , 68px 809px #FFF , 208px 230px #FFF , 82px 94px #FFF , 55px 1349px #FFF , 225px 809px #FFF , 11px 966px #FFF , 181px 756px #FFF , 81px 1905px #FFF , 238px 203px #FFF , 111px 1475px #FFF , 111px 1075px #FFF , 2px 1358px #FFF , 149px 840px #FFF , 233px 198px #FFF , 228px 1825px #FFF , 3px 852px #FFF , 113px 997px #FFF , 137px 1159px #FFF , 96px 876px #FFF , 80px 1437px #FFF , 142px 734px #FFF , 14px 1174px #FFF , 79px 40px #FFF , 170px 1870px #FFF , 74px 1521px #FFF , 248px 197px #FFF , 133px 1731px #FFF , 29px 1885px #FFF , 166px 1720px #FFF , 177px 998px #FFF , 15px 1713px #FFF , 204px 1613px #FFF , 167px 1498px #FFF , 94px 1977px #FFF , 90px 1461px #FFF , 126px 1486px #FFF , 63px 1225px #FFF , 84px 290px #FFF , 110px 321px #FFF , 138px 846px #FFF , 200px 1557px #FFF , 96px 883px #FFF , 42px 1949px #FFF , 33px 1880px #FFF , 88px 1607px #FFF , 35px 56px #FFF , 215px 451px #FFF , 22px 343px #FFF , 121px 1167px #FFF , 65px 68px #FFF , 70px 286px #FFF , 159px 1587px #FFF , 43px 385px #FFF , 202px 63px #FFF , 137px 1882px #FFF , 208px 112px #FFF , 144px 1106px #FFF , 180px 954px #FFF , 229px 1947px #FFF , 116px 515px #FFF , 73px 1204px #FFF , 179px 2px #FFF , 47px 981px #FFF , 93px 170px #FFF , 175px 400px #FFF , 192px 1688px #FFF , 97px 1463px #FFF , 77px 433px #FFF , 14px 441px #FFF , 201px 1633px #FFF , 48px 1015px #FFF , 42px 1351px #FFF , 244px 1458px #FFF , 145px 924px #FFF , 215px 1102px #FFF , 207px 1408px #FFF , 235px 813px #FFF , 93px 1186px #FFF , 154px 380px #FFF , 117px 1205px #FFF , 20px 1534px #FFF , 235px 1904px #FFF , 103px 1731px #FFF , 172px 368px #FFF , 117px 354px #FFF , 129px 255px #FFF , 178px 871px #FFF , 78px 68px #FFF , 217px 565px #FFF , 192px 304px #FFF , 148px 1584px #FFF , 173px 1319px #FFF , 51px 1544px #FFF , 108px 1981px #FFF , 8px 995px #FFF , 57px 679px #FFF , 202px 4px #FFF , 160px 1521px #FFF , 189px 1966px #FFF , 162px 263px #FFF , 92px 1503px #FFF , 50px 110px #FFF , 64px 255px #FFF , 98px 1008px #FFF , 210px 311px #FFF , 159px 1818px #FFF , 171px 1827px #FFF , 130px 523px #FFF , 10px 1839px #FFF , 124px 903px #FFF , 172px 608px #FFF , 113px 846px #FFF , 117px 296px #FFF , 63px 490px #FFF , 164px 1035px #FFF , 165px 472px #FFF , 122px 863px #FFF , 69px 848px #FFF , 31px 716px #FFF , 224px 706px #FFF , 32px 4px #FFF , 61px 460px #FFF , 120px 1268px #FFF , 224px 514px #FFF , 199px 705px #FFF , 10px 1040px #FFF , 78px 373px #FFF , 64px 889px #FFF , 69px 1837px #FFF , 223px 928px #FFF , 228px 1271px #FFF , 218px 1331px #FFF , 96px 1631px #FFF , 177px 1513px #FFF , 230px 299px #FFF , 194px 1862px #FFF , 67px 1269px #FFF , 118px 1419px #FFF , 155px 118px #FFF , 101px 1078px #FFF , 169px 905px #FFF , 81px 1397px #FFF , 237px 1024px #FFF , 222px 952px #FFF , 126px 980px #FFF , 123px 170px #FFF , 171px 409px #FFF , 185px 1495px #FFF , 17px 1523px #FFF , 174px 1192px #FFF , 6px 1371px #FFF , 145px 1375px #FFF , 16px 1038px #FFF , 106px 1443px #FFF , 210px 927px #FFF , 39px 143px #FFF , 240px 1601px #FFF , 42px 706px #FFF , 134px 1364px #FFF , 52px 231px #FFF , 36px 1905px #FFF , 172px 485px #FFF , 27px 772px #FFF , 117px 1015px #FFF , 76px 1091px #FFF , 152px 157px #FFF , 32px 11px #FFF , 40px 644px #FFF , 42px 1981px #FFF , 169px 924px #FFF , 83px 1074px #FFF , 177px 1170px #FFF , 148px 1947px #FFF , 80px 640px #FFF , 66px 224px #FFF , 166px 605px #FFF , 16px 1466px #FFF , 123px 1400px #FFF , 7px 274px #FFF , 104px 1108px #FFF , 40px 1993px #FFF , 141px 765px #FFF , 234px 1727px #FFF , 68px 548px #FFF , 1px 1682px #FFF , 241px 375px #FFF , 16px 1214px #FFF , 186px 991px #FFF , 46px 416px #FFF , 89px 1698px #FFF , 84px 1634px #FFF , 205px 468px #FFF , 240px 1058px #FFF , 185px 420px #FFF , 196px 635px #FFF , 12px 45px #FFF , 171px 1628px #FFF , 200px 1563px #FFF , 186px 890px #FFF , 199px 1390px #FFF , 112px 1879px #FFF , 35px 177px #FFF , 57px 440px #FFF , 56px 1173px #FFF , 152px 1598px #FFF , 167px 132px #FFF , 203px 1580px #FFF , 65px 438px #FFF , 243px 1364px #FFF , 162px 615px #FFF , 26px 1244px #FFF , 196px 963px #FFF , 227px 1612px #FFF , 214px 1502px #FFF , 250px 72px #FFF , 138px 856px #FFF , 237px 202px #FFF , 250px 918px #FFF , 154px 4px #FFF , 63px 1194px #FFF , 118px 1064px #FFF , 3px 765px #FFF , 214px 1129px #FFF , 11px 795px #FFF , 28px 1766px #FFF , 124px 819px #FFF , 180px 1855px #FFF , 120px 1342px #FFF , 11px 282px #FFF , 49px 1206px #FFF , 239px 789px #FFF , 9px 109px #FFF , 46px 1194px #FFF , 146px 412px #FFF , 240px 47px #FFF , 218px 1938px #FFF , 34px 1392px #FFF , 226px 525px #FFF , 54px 1614px #FFF , 250px 1766px #FFF , 190px 210px #FFF , 61px 1667px #FFF , 244px 1862px #FFF , 101px 161px #FFF , 133px 325px #FFF , 23px 1224px #FFF , 111px 1814px #FFF , 70px 24px #FFF , 189px 1102px #FFF , 114px 1193px #FFF , 185px 763px #FFF , 62px 667px #FFF , 56px 1655px #FFF , 3px 567px #FFF , 116px 491px #FFF , 26px 1605px #FFF , 180px 1975px #FFF , 234px 1150px #FFF , 210px 1313px #FFF , 146px 843px #FFF , 37px 1070px #FFF , 114px 1501px #FFF , 45px 1264px #FFF , 10px 255px #FFF , 184px 1542px #FFF , 94px 1294px #FFF , 63px 833px #FFF , 8px 791px #FFF , 92px 450px #FFF , 36px 891px #FFF , 180px 347px #FFF , 182px 613px #FFF , 168px 460px #FFF , 131px 992px #FFF , 158px 1619px #FFF , 141px 1429px #FFF , 241px 1458px #FFF , 178px 921px #FFF , 137px 80px #FFF , 79px 649px #FFF , 1px 756px #FFF , 125px 959px #FFF , 212px 559px #FFF , 37px 1934px #FFF , 201px 1296px #FFF , 54px 188px #FFF , 72px 353px #FFF , 158px 386px #FFF , 140px 341px #FFF , 79px 990px #FFF , 204px 1191px #FFF , 63px 1021px #FFF , 166px 346px #FFF , 235px 77px #FFF , 195px 115px #FFF , 114px 1294px #FFF , 80px 1394px #FFF , 24px 1420px #FFF , 173px 1534px #FFF , 74px 159px #FFF , 209px 403px #FFF , 113px 1885px #FFF , 199px 555px #FFF , 213px 1025px #FFF , 91px 967px #FFF , 25px 253px #FFF , 94px 135px #FFF , 174px 319px #FFF , 32px 1503px #FFF , 187px 1496px #FFF , 131px 1738px #FFF , 215px 1253px #FFF , 204px 645px #FFF , 133px 1690px #FFF , 211px 533px #FFF , 9px 5px #FFF , 83px 883px #FFF , 166px 1318px #FFF , 105px 1989px #FFF , 98px 365px #FFF , 81px 998px #FFF , 19px 654px #FFF , 232px 126px #FFF , 83px 1121px #FFF , 234px 412px #FFF , 122px 311px #FFF , 237px 1271px #FFF , 129px 178px #FFF , 89px 338px #FFF , 142px 1814px #FFF , 69px 141px #FFF , 23px 1374px #FFF , 110px 116px #FFF , 52px 60px #FFF , 134px 1608px #FFF , 61px 1238px #FFF , 156px 1485px #FFF , 162px 832px #FFF , 186px 1204px #FFF , 169px 1373px #FFF , 25px 397px #FFF , 106px 1497px #FFF , 31px 180px #FFF , 98px 558px #FFF , 22px 1214px #FFF , 101px 1331px #FFF , 134px 1921px #FFF , 147px 1585px #FFF , 35px 50px #FFF , 108px 766px #FFF , 102px 482px #FFF , 244px 557px #FFF , 187px 1979px #FFF , 20px 735px #FFF , 112px 1843px #FFF , 28px 961px #FFF , 42px 758px #FFF , 29px 1744px #FFF , 122px 81px #FFF , 180px 1362px #FFF , 114px 973px #FFF , 116px 1100px #FFF , 101px 1887px #FFF , 30px 1754px #FFF , 99px 471px #FFF , 176px 743px #FFF , 25px 1822px #FFF , 83px 250px #FFF , 143px 1226px #FFF , 145px 1212px #FFF , 164px 143px #FFF , 94px 1967px #FFF , 40px 1471px #FFF , 149px 444px #FFF , 63px 1350px #FFF , 70px 1007px #FFF , 204px 1718px #FFF , 184px 467px #FFF , 28px 759px #FFF , 47px 1329px #FFF , 22px 258px #FFF , 49px 721px #FFF , 207px 268px #FFF , 227px 1902px #FFF , 13px 1302px #FFF , 118px 1794px #FFF , 25px 1389px #FFF , 132px 1640px #FFF , 156px 993px #FFF , 249px 1094px #FFF , 60px 1207px #FFF , 154px 486px #FFF , 223px 1813px #FFF , 23px 352px #FFF , 53px 1652px #FFF , 216px 1883px #FFF , 247px 185px #FFF , 7px 1468px #FFF , 248px 180px #FFF , 59px 1265px #FFF , 64px 767px #FFF , 132px 408px #FFF , 116px 169px #FFF , 131px 638px #FFF , 110px 1666px #FFF , 190px 1773px #FFF , 107px 1357px #FFF , 52px 1888px #FFF , 143px 1985px #FFF , 247px 920px #FFF , 136px 811px #FFF , 40px 666px #FFF , 18px 1977px #FFF , 138px 497px #FFF , 73px 864px #FFF , 216px 1398px #FFF , 240px 87px #FFF , 108px 1936px #FFF , 118px 1669px #FFF , 214px 1371px #FFF , 64px 1649px #FFF , 47px 835px #FFF , 172px 494px #FFF , 135px 1364px #FFF , 142px 1470px #FFF , 154px 1529px #FFF , 12px 945px #FFF , 249px 774px #FFF , 71px 146px #FFF , 113px 500px #FFF , 83px 470px #FFF , 120px 508px #FFF , 57px 321px #FFF , 93px 224px #FFF , 41px 666px #FFF , 144px 240px #FFF , 24px 1220px #FFF , 209px 308px #FFF , 117px 1237px #FFF , 1px 968px #FFF , 154px 1662px #FFF , 34px 43px #FFF , 203px 136px #FFF , 142px 1922px #FFF , 73px 1015px #FFF , 100px 1670px #FFF , 179px 1200px #FFF , 102px 1629px #FFF , 74px 674px #FFF , 78px 1624px #FFF , 82px 237px #FFF , 106px 1452px #FFF , 196px 577px #FFF , 74px 586px #FFF , 191px 1521px #FFF , 130px 946px #FFF , 10px 520px #FFF , 88px 1338px #FFF , 35px 1269px #FFF , 218px 348px #FFF , 33px 1327px #FFF , 11px 452px #FFF , 207px 1680px #FFF , 50px 544px #FFF , 148px 1137px #FFF , 139px 1064px #FFF , 156px 1459px #FFF , 223px 1212px #FFF , 59px 505px #FFF , 157px 1151px #FFF , 37px 1493px #FFF , 156px 566px #FFF , 70px 85px #FFF , 240px 520px #FFF , 243px 630px #FFF , 38px 1897px #FFF , 151px 1187px #FFF , 65px 768px #FFF , 228px 1594px #FFF , 233px 1612px #FFF , 67px 689px #FFF , 131px 1637px #FFF , 194px 1591px #FFF , 247px 1251px #FFF , 96px 638px #FFF , 171px 1660px #FFF , 33px 119px #FFF , 109px 241px #FFF , 57px 1433px #FFF , 42px 845px #FFF , 54px 683px #FFF , 74px 16px #FFF , 89px 1686px #FFF , 81px 99px #FFF , 177px 691px #FFF , 44px 481px #FFF , 56px 539px #FFF , 1px 248px #FFF , 71px 1440px #FFF , 52px 658px #FFF , 202px 1494px #FFF , 153px 1584px #FFF , 26px 1028px #FFF , 13px 1348px #FFF , 167px 760px #FFF , 236px 186px #FFF , 49px 355px #FFF , 62px 1574px #FFF , 86px 460px #FFF , 113px 69px #FFF , 125px 805px #FFF , 8px 1803px #FFF , 91px 760px #FFF , 173px 765px #FFF , 104px 449px #FFF , 135px 453px #FFF , 145px 40px #FFF , 143px 34px #FFF , 178px 445px #FFF , 94px 475px #FFF , 165px 883px #FFF , 12px 1528px #FFF , 234px 46px #FFF , 52px 1385px #FFF , 147px 873px #FFF , 78px 1702px #FFF , 190px 239px #FFF , 69px 101px #FFF , 110px 1025px #FFF , 57px 1263px #FFF , 237px 605px #FFF , 15px 510px #FFF , 103px 1324px #FFF , 195px 1921px #FFF , 176px 366px #FFF , 72px 1624px #FFF , 142px 1966px #FFF , 227px 173px #FFF , 43px 476px #FFF , 79px 1884px #FFF , 116px 471px #FFF , 67px 1487px #FFF , 17px 218px #FFF , 201px 1663px #FFF , 193px 1966px #FFF , 201px 1269px #FFF , 197px 1716px #FFF , 156px 1648px #FFF , 77px 1201px #FFF , 188px 533px #FFF , 112px 426px #FFF , 102px 1790px #FFF , 160px 1163px #FFF , 34px 754px #FFF , 141px 690px #FFF , 164px 1462px #FFF , 195px 58px #FFF , 3px 1058px #FFF , 1px 1921px #FFF , 6px 721px #FFF , 45px 1867px #FFF , 2px 1870px #FFF , 34px 970px #FFF , 143px 1251px #FFF , 132px 1983px #FFF , 156px 627px #FFF , 115px 1560px #FFF , 87px 1834px #FFF , 87px 1028px #FFF , 13px 1225px #FFF , 145px 810px #FFF , 113px 1679px #FFF , 27px 1539px #FFF , 175px 909px #FFF , 133px 1005px #FFF , 185px 346px #FFF; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 140px 394px #FFF , 230px 85px #FFF , 157px 1826px #FFF , 60px 1259px #FFF , 146px 1557px #FFF , 175px 548px #FFF , 54px 589px #FFF , 245px 924px #FFF , 112px 1746px #FFF , 203px 1454px #FFF , 81px 37px #FFF , 213px 1975px #FFF , 96px 1596px #FFF , 44px 1890px #FFF , 23px 134px #FFF , 162px 1273px #FFF , 13px 1533px #FFF , 56px 1293px #FFF , 54px 1069px #FFF , 231px 472px #FFF , 69px 864px #FFF , 220px 1796px #FFF , 2px 1180px #FFF , 160px 1541px #FFF , 124px 156px #FFF , 186px 894px #FFF , 42px 188px #FFF , 162px 288px #FFF , 164px 414px #FFF , 22px 830px #FFF , 212px 1009px #FFF , 234px 283px #FFF , 233px 231px #FFF , 2px 1630px #FFF , 175px 605px #FFF , 244px 1641px #FFF , 193px 588px #FFF , 87px 129px #FFF , 126px 1245px #FFF , 164px 212px #FFF , 13px 1672px #FFF , 85px 1585px #FFF , 241px 659px #FFF , 230px 1884px #FFF , 206px 1731px #FFF , 211px 1500px #FFF , 212px 1762px #FFF , 233px 761px #FFF , 97px 1140px #FFF , 146px 1009px #FFF , 80px 512px #FFF , 112px 184px #FFF , 17px 782px #FFF , 231px 757px #FFF , 171px 1877px #FFF , 12px 418px #FFF , 109px 1268px #FFF , 26px 1377px #FFF , 213px 902px #FFF , 29px 399px #FFF , 166px 164px #FFF , 35px 348px #FFF , 139px 906px #FFF , 125px 903px #FFF , 105px 941px #FFF , 120px 1288px #FFF , 248px 1750px #FFF , 168px 302px #FFF , 94px 915px #FFF , 196px 1185px #FFF , 141px 1912px #FFF , 62px 1766px #FFF , 39px 1546px #FFF , 93px 1271px #FFF , 91px 1083px #FFF , 20px 365px #FFF , 9px 1358px #FFF , 35px 465px #FFF , 122px 654px #FFF , 210px 1594px #FFF , 135px 1939px #FFF , 172px 406px #FFF , 194px 1851px #FFF , 76px 590px #FFF , 208px 1102px #FFF , 104px 1797px #FFF , 59px 1127px #FFF , 45px 1492px #FFF , 193px 519px #FFF , 148px 1225px #FFF , 183px 603px #FFF , 150px 1888px #FFF , 26px 790px #FFF , 161px 195px #FFF , 80px 13px #FFF , 18px 240px #FFF , 18px 830px #FFF , 193px 872px #FFF , 111px 1431px #FFF , 99px 966px #FFF , 73px 1884px #FFF , 30px 1849px #FFF , 190px 1009px #FFF , 179px 1856px #FFF , 222px 248px #FFF , 6px 1056px #FFF , 213px 311px #FFF , 28px 1844px #FFF , 145px 978px #FFF , 85px 1152px #FFF , 228px 1303px #FFF , 36px 599px #FFF , 166px 70px #FFF , 188px 321px #FFF , 246px 28px #FFF , 86px 1351px #FFF , 167px 106px #FFF , 34px 1299px #FFF , 4px 1191px #FFF , 58px 1186px #FFF , 14px 356px #FFF , 19px 289px #FFF , 209px 1501px #FFF , 88px 1104px #FFF , 250px 1436px #FFF , 226px 184px #FFF , 155px 1671px #FFF , 146px 1312px #FFF , 114px 1374px #FFF , 124px 1185px #FFF , 134px 950px #FFF , 54px 1252px #FFF , 84px 359px #FFF , 47px 1294px #FFF , 149px 1202px #FFF , 219px 1500px #FFF , 231px 104px #FFF , 132px 140px #FFF , 163px 269px #FFF , 109px 514px #FFF , 94px 711px #FFF , 140px 1367px #FFF , 161px 990px #FFF , 65px 1941px #FFF , 168px 432px #FFF , 7px 685px #FFF , 113px 48px #FFF , 161px 170px #FFF , 43px 54px #FFF , 242px 676px #FFF , 235px 942px #FFF , 1px 32px #FFF , 184px 1041px #FFF , 201px 79px #FFF , 192px 1237px #FFF , 59px 1352px #FFF , 11px 1283px #FFF , 33px 1167px #FFF , 118px 347px #FFF , 172px 1195px #FFF , 174px 190px #FFF , 199px 1802px #FFF , 144px 421px #FFF , 125px 1188px #FFF , 192px 233px #FFF , 2px 46px #FFF , 153px 3px #FFF , 235px 1662px #FFF , 72px 1408px #FFF , 228px 260px #FFF , 12px 270px #FFF , 88px 1173px #FFF , 42px 1834px #FFF , 163px 1715px #FFF , 133px 1530px #FFF , 80px 696px #FFF , 105px 1451px #FFF , 181px 58px #FFF , 121px 863px #FFF , 212px 1782px #FFF , 206px 1281px #FFF , 30px 1348px #FFF , 144px 749px #FFF , 132px 1256px #FFF , 60px 1604px #FFF , 230px 1706px #FFF , 170px 1526px #FFF , 235px 226px #FFF , 44px 18px #FFF , 61px 739px #FFF , 117px 1626px #FFF , 239px 521px #FFF , 53px 785px #FFF , 109px 1285px #FFF , 206px 931px #FFF , 145px 152px #FFF , 49px 579px #FFF , 38px 1806px #FFF , 221px 934px #FFF , 198px 323px #FFF;
  animation: animStar 150s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 140px 394px #FFF , 230px 85px #FFF , 157px 1826px #FFF , 60px 1259px #FFF , 146px 1557px #FFF , 175px 548px #FFF , 54px 589px #FFF , 245px 924px #FFF , 112px 1746px #FFF , 203px 1454px #FFF , 81px 37px #FFF , 213px 1975px #FFF , 96px 1596px #FFF , 44px 1890px #FFF , 23px 134px #FFF , 162px 1273px #FFF , 13px 1533px #FFF , 56px 1293px #FFF , 54px 1069px #FFF , 231px 472px #FFF , 69px 864px #FFF , 220px 1796px #FFF , 2px 1180px #FFF , 160px 1541px #FFF , 124px 156px #FFF , 186px 894px #FFF , 42px 188px #FFF , 162px 288px #FFF , 164px 414px #FFF , 22px 830px #FFF , 212px 1009px #FFF , 234px 283px #FFF , 233px 231px #FFF , 2px 1630px #FFF , 175px 605px #FFF , 244px 1641px #FFF , 193px 588px #FFF , 87px 129px #FFF , 126px 1245px #FFF , 164px 212px #FFF , 13px 1672px #FFF , 85px 1585px #FFF , 241px 659px #FFF , 230px 1884px #FFF , 206px 1731px #FFF , 211px 1500px #FFF , 212px 1762px #FFF , 233px 761px #FFF , 97px 1140px #FFF , 146px 1009px #FFF , 80px 512px #FFF , 112px 184px #FFF , 17px 782px #FFF , 231px 757px #FFF , 171px 1877px #FFF , 12px 418px #FFF , 109px 1268px #FFF , 26px 1377px #FFF , 213px 902px #FFF , 29px 399px #FFF , 166px 164px #FFF , 35px 348px #FFF , 139px 906px #FFF , 125px 903px #FFF , 105px 941px #FFF , 120px 1288px #FFF , 248px 1750px #FFF , 168px 302px #FFF , 94px 915px #FFF , 196px 1185px #FFF , 141px 1912px #FFF , 62px 1766px #FFF , 39px 1546px #FFF , 93px 1271px #FFF , 91px 1083px #FFF , 20px 365px #FFF , 9px 1358px #FFF , 35px 465px #FFF , 122px 654px #FFF , 210px 1594px #FFF , 135px 1939px #FFF , 172px 406px #FFF , 194px 1851px #FFF , 76px 590px #FFF , 208px 1102px #FFF , 104px 1797px #FFF , 59px 1127px #FFF , 45px 1492px #FFF , 193px 519px #FFF , 148px 1225px #FFF , 183px 603px #FFF , 150px 1888px #FFF , 26px 790px #FFF , 161px 195px #FFF , 80px 13px #FFF , 18px 240px #FFF , 18px 830px #FFF , 193px 872px #FFF , 111px 1431px #FFF , 99px 966px #FFF , 73px 1884px #FFF , 30px 1849px #FFF , 190px 1009px #FFF , 179px 1856px #FFF , 222px 248px #FFF , 6px 1056px #FFF , 213px 311px #FFF , 28px 1844px #FFF , 145px 978px #FFF , 85px 1152px #FFF , 228px 1303px #FFF , 36px 599px #FFF , 166px 70px #FFF , 188px 321px #FFF , 246px 28px #FFF , 86px 1351px #FFF , 167px 106px #FFF , 34px 1299px #FFF , 4px 1191px #FFF , 58px 1186px #FFF , 14px 356px #FFF , 19px 289px #FFF , 209px 1501px #FFF , 88px 1104px #FFF , 250px 1436px #FFF , 226px 184px #FFF , 155px 1671px #FFF , 146px 1312px #FFF , 114px 1374px #FFF , 124px 1185px #FFF , 134px 950px #FFF , 54px 1252px #FFF , 84px 359px #FFF , 47px 1294px #FFF , 149px 1202px #FFF , 219px 1500px #FFF , 231px 104px #FFF , 132px 140px #FFF , 163px 269px #FFF , 109px 514px #FFF , 94px 711px #FFF , 140px 1367px #FFF , 161px 990px #FFF , 65px 1941px #FFF , 168px 432px #FFF , 7px 685px #FFF , 113px 48px #FFF , 161px 170px #FFF , 43px 54px #FFF , 242px 676px #FFF , 235px 942px #FFF , 1px 32px #FFF , 184px 1041px #FFF , 201px 79px #FFF , 192px 1237px #FFF , 59px 1352px #FFF , 11px 1283px #FFF , 33px 1167px #FFF , 118px 347px #FFF , 172px 1195px #FFF , 174px 190px #FFF , 199px 1802px #FFF , 144px 421px #FFF , 125px 1188px #FFF , 192px 233px #FFF , 2px 46px #FFF , 153px 3px #FFF , 235px 1662px #FFF , 72px 1408px #FFF , 228px 260px #FFF , 12px 270px #FFF , 88px 1173px #FFF , 42px 1834px #FFF , 163px 1715px #FFF , 133px 1530px #FFF , 80px 696px #FFF , 105px 1451px #FFF , 181px 58px #FFF , 121px 863px #FFF , 212px 1782px #FFF , 206px 1281px #FFF , 30px 1348px #FFF , 144px 749px #FFF , 132px 1256px #FFF , 60px 1604px #FFF , 230px 1706px #FFF , 170px 1526px #FFF , 235px 226px #FFF , 44px 18px #FFF , 61px 739px #FFF , 117px 1626px #FFF , 239px 521px #FFF , 53px 785px #FFF , 109px 1285px #FFF , 206px 931px #FFF , 145px 152px #FFF , 49px 579px #FFF , 38px 1806px #FFF , 221px 934px #FFF , 198px 323px #FFF; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 140px 890px #FFF , 249px 1179px #FFF , 26px 1679px #FFF , 180px 1573px #FFF , 204px 1010px #FFF , 2px 1089px #FFF , 123px 569px #FFF , 143px 910px #FFF , 94px 439px #FFF , 46px 735px #FFF , 130px 133px #FFF , 26px 1553px #FFF , 147px 943px #FFF , 226px 200px #FFF , 180px 1210px #FFF , 169px 1058px #FFF , 105px 1350px #FFF , 26px 1776px #FFF , 29px 13px #FFF , 99px 316px #FFF , 39px 631px #FFF , 246px 380px #FFF , 193px 1404px #FFF , 110px 701px #FFF , 124px 1442px #FFF , 197px 1130px #FFF , 68px 1176px #FFF , 16px 432px #FFF , 27px 321px #FFF , 53px 1960px #FFF , 187px 1794px #FFF , 114px 548px #FFF , 104px 602px #FFF , 149px 1221px #FFF , 37px 1151px #FFF , 222px 1513px #FFF , 117px 147px #FFF , 188px 1914px #FFF , 154px 228px #FFF , 162px 330px #FFF , 89px 625px #FFF , 151px 1098px #FFF , 231px 903px #FFF , 43px 1474px #FFF , 149px 1795px #FFF , 187px 800px #FFF , 195px 1601px #FFF , 165px 1668px #FFF , 103px 727px #FFF , 55px 64px #FFF , 141px 771px #FFF , 91px 1831px #FFF , 149px 867px #FFF , 78px 961px #FFF , 115px 913px #FFF , 128px 291px #FFF , 235px 956px #FFF , 163px 810px #FFF , 145px 1204px #FFF , 187px 128px #FFF , 156px 905px #FFF , 225px 983px #FFF , 43px 1007px #FFF , 232px 1048px #FFF , 166px 1303px #FFF , 7px 799px #FFF , 136px 1738px #FFF , 17px 438px #FFF , 48px 1160px #FFF , 154px 452px #FFF , 26px 1772px #FFF , 209px 176px #FFF , 45px 336px #FFF , 43px 1131px #FFF , 110px 874px #FFF , 93px 1948px #FFF , 55px 1347px #FFF , 200px 439px #FFF , 235px 485px #FFF , 69px 1574px #FFF , 117px 1685px #FFF , 11px 1449px #FFF , 57px 1048px #FFF , 74px 489px #FFF , 218px 55px #FFF , 207px 583px #FFF , 128px 677px #FFF , 124px 1171px #FFF , 229px 1234px #FFF , 168px 1665px #FFF , 133px 823px #FFF , 109px 759px #FFF , 170px 444px #FFF , 232px 463px #FFF , 249px 875px #FFF , 88px 1057px #FFF , 84px 380px #FFF , 150px 893px #FFF , 184px 858px #FFF , 249px 1876px #FFF;
  animation: animStar 200s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 140px 890px #FFF , 249px 1179px #FFF , 26px 1679px #FFF , 180px 1573px #FFF , 204px 1010px #FFF , 2px 1089px #FFF , 123px 569px #FFF , 143px 910px #FFF , 94px 439px #FFF , 46px 735px #FFF , 130px 133px #FFF , 26px 1553px #FFF , 147px 943px #FFF , 226px 200px #FFF , 180px 1210px #FFF , 169px 1058px #FFF , 105px 1350px #FFF , 26px 1776px #FFF , 29px 13px #FFF , 99px 316px #FFF , 39px 631px #FFF , 246px 380px #FFF , 193px 1404px #FFF , 110px 701px #FFF , 124px 1442px #FFF , 197px 1130px #FFF , 68px 1176px #FFF , 16px 432px #FFF , 27px 321px #FFF , 53px 1960px #FFF , 187px 1794px #FFF , 114px 548px #FFF , 104px 602px #FFF , 149px 1221px #FFF , 37px 1151px #FFF , 222px 1513px #FFF , 117px 147px #FFF , 188px 1914px #FFF , 154px 228px #FFF , 162px 330px #FFF , 89px 625px #FFF , 151px 1098px #FFF , 231px 903px #FFF , 43px 1474px #FFF , 149px 1795px #FFF , 187px 800px #FFF , 195px 1601px #FFF , 165px 1668px #FFF , 103px 727px #FFF , 55px 64px #FFF , 141px 771px #FFF , 91px 1831px #FFF , 149px 867px #FFF , 78px 961px #FFF , 115px 913px #FFF , 128px 291px #FFF , 235px 956px #FFF , 163px 810px #FFF , 145px 1204px #FFF , 187px 128px #FFF , 156px 905px #FFF , 225px 983px #FFF , 43px 1007px #FFF , 232px 1048px #FFF , 166px 1303px #FFF , 7px 799px #FFF , 136px 1738px #FFF , 17px 438px #FFF , 48px 1160px #FFF , 154px 452px #FFF , 26px 1772px #FFF , 209px 176px #FFF , 45px 336px #FFF , 43px 1131px #FFF , 110px 874px #FFF , 93px 1948px #FFF , 55px 1347px #FFF , 200px 439px #FFF , 235px 485px #FFF , 69px 1574px #FFF , 117px 1685px #FFF , 11px 1449px #FFF , 57px 1048px #FFF , 74px 489px #FFF , 218px 55px #FFF , 207px 583px #FFF , 128px 677px #FFF , 124px 1171px #FFF , 229px 1234px #FFF , 168px 1665px #FFF , 133px 823px #FFF , 109px 759px #FFF , 170px 444px #FFF , 232px 463px #FFF , 249px 875px #FFF , 88px 1057px #FFF , 84px 380px #FFF , 150px 893px #FFF , 184px 858px #FFF , 249px 1876px #FFF; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  height: 100%; }

body {
  position: relative;
  height: 100%;
  background-image: url("./../assets/Images/Body-Background.png");
  background-size: cover; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

a {
  color: #FDFDCB;
  text-decoration: underline; }

/**
 * Basic styles for links
 
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}*/
@font-face {
  font-family: PT;
  src: url("./../assets/Fonts/PT_Sans-Web-Regular.ttf"); }
/**
 * Basic typography style for copy text
 */
body {
  color: #cccccc;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  min-height: 550px;
  border-right: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8;
    /*#title
    {
        color: $text-high-color;
        font-family: $title-font-stack;
        font-size: nth($font-size, 1)+10px;

        margin: 10px;
        margin-top: 5px;
    }*/ }
  header::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 249px;
    height: 144px;
    background-image: url("./../assets/Images/Avatar.png"); }
  header .banner {
    margin: auto;
    margin-top: -10px;
    z-index: 100;
    opacity: 1;
    width: 86.25px;
    height: 23.20359%; }
  header #menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    margin: auto; }
    header #menu .button-menu {
      display: block;
      width: 90%;
      margin-top: 20px; }

.content {
  margin-left: 250px;
  padding: 50px; }

.articles {
  display: block;
  width: 100%;
  height: 100%; }
  .articles .panel {
    z-index: 1; }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 0;
  text-align: right;
  color: white;
  font-size: 12px; }

p.important {
  background-color: #05162a;
  color: white; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte
  =======================================*/
.panel {
  background-color: #081a32;
  color: #cccccc;
  padding: 15px;
  padding-top: 55px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #4494b8;
  box-shadow: 0px 0px 5px #4494b8; }
  .panel:before {
    font-size: 25px;
    color: white;
    content: attr(title);
    position: absolute;
    padding: 15px;
    padding-top: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #4494b8; }
  .panel:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./../assets/Images/Div-Top.png");
    background-size: auto 100%;
    width: 100%;
    height: 6px; }

/*=======================================
  D├®finition du composant panel
  Section contenant du texte et pr├®sentant un article
  =======================================*/
.panel-article {
  padding-bottom: 30px; }
  .panel-article .author {
    position: absolute;
    right: 10px;
    bottom: 10px; }
  .panel-article .date {
    position: absolute;
    right: 10px;
    top: 10px; }
  .panel-article .click {
    display: block;
    width: 100%;
    text-align: center; }

.panel-comments {
  width: 80%;
  margin: auto; }

.banner {
  display: block;
  position: relative;
  width: 69px;
  height: 152px;
  z-index: 1;
  background-image: url("./../assets/Images/Banner.png");
  background-size: 100% 100%; }
  .banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("./../assets/Images/freedom-dove.svg");
    background-position: center 60%;
    background-repeat: no-repeat; }

/*=======================================
  D├®finition des composant bouton
  =======================================*/
/*--------------------------------------
Composant bouton de menu
---------------------------------------*/
.button-menu {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  background-color: #0a4e76;
  overflow: hidden;
  transition: all 0.5s ease;
  box-sizing: content-box; }
  .button-menu.index {
    background-image: url("./../assets/Images/steel-door.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.tech {
    background-image: url("./../assets/Images/arrow-scope.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu.gallery {
    background-image: url("./../assets/Images/eagle-emblem.svg");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 0% center; }
  .button-menu:hover {
    box-shadow: 5px 5px 5px black;
    top: -5px;
    left: -5px;
    background-color: #4494b8; }

/*--------------------------------------
Composant bouton de base
---------------------------------------*/
.button-base {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-height: 30px;
  min-width: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid #4494b8;
  overflow: hidden;
  transition: all 0.25s ease; }
  .button-base:before {
    z-index: -1;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4494b8;
    opacity: 0.3;
    transition: all 0.25s ease; }
  .button-base:hover {
    box-shadow: 0px 0px 1px #4494b8; }
    .button-base:hover:before {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
