@import './../Chart';

div.Article-Focus
{
    width: auto !important;
    height: 100%;

    min-width: initial !important;
    max-width: initial !important;
    margin: $default-margin !important;
    margin-right: $default-margin*8 !important;

    overflow-x: hidden;
    box-sizing: border-box;


}