@import './../Chart';

div.Article
{
    position: relative;

    width: initial !important;
    min-width: 200px;


    div.thumbnail
    {
        background-color: blue;

        height: 100px;
        width: 150%;

        margin-top: -$default-margin;
        margin-left: -$default-margin;

        background-image: attr('data-src');
        background-position: center center;
        background-size: cover;
    }

    div.content
    {
        margin-top: $default-margin;
        font-family: $font-base;
    }

    div.more
    {
        margin: $default-margin; 

        text-align: center;
        color: $color-text-light;
        font-family: $font-base;
        font-size: 12px;

        cursor: pointer;

        &:hover
        {
            text-decoration: underline;
        }
    }
}