@import './../Chart';
div.Articles {

    padding: $default-margin;

    div.Article {


        position: relative;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $default-margin*3;


        div.thumbnail {
            box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 49px;
            left: 0;
            height: 100px;
            width: 100%;
            background-size: cover;
            background-position: center;
            margin-top: -$default-margin;
        }


        div.content {
            margin-top: $default-margin+100px;
            font-family: $font-base;
            color: rgba($color-text-light, 0.8);
        }


        button.more {
            display: block;
            width: 150px;
            margin: auto;
            text-align: center;
            color: $color-text-light;
            font-family: $font-base;
            font-size: 12px;
        }
    }


}