@import './../Chart';

div.Grid
{
    $width: 100%;
    $height: auto;

    width: $width;
    height: $height; 

    border-spacing:$default-margin;
    border-collapse:separate;
    

    display: table;

    // Modification de tout les enfants pour les afficher en tant que cellule de tableau
    &>div
    {
        display: table-cell;
    }

    // Précision: tech
    &.tech
    {
        display: block;

        width: 100%;

        overflow-x: hidden;

        &>div
        {
            float: left;
            
            margin: $default-margin*2;

        }
    }

}