@import './../Chart';

header
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1;


    overflow: hidden;


    h1
    {
        float: left;

        font-family: $font-special;

        color: $color-text-light;

    }

    div.contact
    {
        float: right;
        
        padding: $default-margin;


        font-size: 10px;
        color: $color-base;
        text-align: right;

        a
        {
            text-decoration: none;
            color: $color-base;
        }
    }
}