@import "./../Chart";
div.Menu {
    $logo-height: 200px;    
    $width: 220px; // Arbitraire 
    $width-minified: 80px; // Arbitraire
    $height: 100%;
    float: left;
    overflow-x: hidden;
    width: $width-minified;
    height: $height;
    border-right: 1px solid $color-light;
    transition: $default-transition;
    position: relative;
    
    //@include stars;
    background-image: url("Assets/Menu.png");

    // Etat: survol
    &:hover {
        width: $width;

        nav button
        {
            width: $width - (2 * $default-margin);

            color: $color-text-light;

            border-radius: 0px;

            background-position: 5px center;

            &:before
            {
                background-size: auto;
            }
        }

    }
    // Style du logo
    div.logo {
        margin: auto;
        $logo-width: 90%;
        $logo-max-width: 120px;
        width: $logo-width;
        height: $logo-height;
        max-width: $logo-max-width;
        background-position: 0px 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("Assets/logo.png");
        z-index: 1;
    }
    nav {
        margin-top: -$logo-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;


        // Style des boutons du menu
        button {
            position: relative;
            margin: auto;
            $button-height: 40px; // Valeur arbitraire
            display: block;
            /* width: $width - (2 * $default-margin);*/

            width: $width-minified - (2 * $default-margin);
            height: $width-minified - (2 * $default-margin);



            color: rgba(0,0,0,0);

            margin: $default-margin;
            text-transform: uppercase;
            font-family: $font-base;

            border-radius: 50%;

            background-color: rgba($color-base, 0.8);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: $button-height - 4px; // (-2*2pixels)

            &:before
            {
                content: "";

                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                background-image: url("Assets/Line.png");
                background-size: 0 0;

            }

            &.index {
                background-image: url("Assets/index.svg");
            }
            &.articles {
                background-image: url("Assets/articles.svg");
            }
            &.gallery {
                background-image: url("Assets/gallery.svg");
            }

            &:hover
            {
                background-color: rgba($color-light, 0.8);
            }
        }
    }

    &:before, &:after
    {
        content : "";

        display: block;
        position: absolute;
        top: 0; 
        left: 0;

        background-size: cover;
        background-position: center;
    }
}