@import './../Chart';

div.Panel
{

    display: inline-block;

    height: 100%;
    width: 100%;
    margin: auto;
    // Définition du style des élements affiché dans le panel
    div.item
    {
        $height-top : 19px;
        $height-before: 39px; 
        $width: 70%;
        $width-max : 700px; 

        background-color: $color-dark;

        border: 1px solid $color-light;
        border-radius: $default-border-radius;

        position: relative;

        width: $width;
        max-width: $width-max;
        margin: auto;
        margin-top: $default-margin;

        padding: $default-margin;
        padding-top: $height-top * 2 + $default-margin;

        color: $color-text-base;
            
        overflow-x: hidden;
        

        &:before
        {


            content: attr(data-title);
            color: $color-text-light;
            font-size: $default-title-size;
            font-style: bold;
            font-family: $font-base;
            text-transform: uppercase;

            background-image: url("Assets/Item-Top.png");
            background-size: 150% $height-top;
            background-position: -100px -12px;
            background-repeat: no-repeat;

            overflow: hidden;

            box-sizing: border-box;

            display: block;
            
            position: absolute;
            top: 0; 
            left: 0;

            width: 100%;
            height: $height-before;

            padding: 2px;
            padding-top: 10px;

            border-bottom: 1px solid $color-light;
        }
    }
}