extends layout

block content

	div.article
		h1= article.title
		div.content= article.content
		div.informations
			span.author= article.getAuthor().firstName + " " + article.getAuthor().lastName
			span.author= article.getHumanDate()
		div.comments
		| Y'aura les commentaires ici